[2017-11-27 14:32] SimonKrughoff commented on #33
This does look like another bug.  @johnrpeterson can you look into this?  The truncated bleed trail also looks weird.  I'd expect it to spread along the channel stop, but I guess the physics in this case is not that intuitive.

[2017-11-27 14:43] johnrpeterson commented on #33
it looks like the optimizer is to aggressive for this case rather close to the charge stop as well.  this should be easy to fix.

as for the variation-- its a combination of clouds & airglow.  i think the airglow tends to have smaller scale spatial variation.

[2017-11-27 15:33] evevkovacs commented on #38
@danielsf @dkorytov  OK, sorry I have been asleep at the switch. The Galacticus luminosities for both the LSST and the SED filters are all evaluated at the snapshot redshifts. If you are doing a consistency check between your fits to the SED filters and the Galacticus values for the LSST filters, you need to use the snapshot redshifts for each galaxy, rather than the lightcone redshifts. I believe

[2017-11-27 15:41] yymao commented on #38
@evevkovacs what's the difference between `redshift_true` and snapshot redshift?

[2017-11-27 15:46] evevkovacs commented on #38
redshift_true is the lightcone redshift (ie redshift obtained when galaxies, which have been evaluated  at the simulation snapshots are interpolated onto the observer's lightcone). (Recall that the SAM is run on the simulation snapshots)

[2017-11-27 16:03] SimonKrughoff commented on #33
@johnrpeterson where did the model for the spatial variation of the airglow come from?

[2017-11-27 16:38] johnrpeterson commented on #33
i'm having a hard time reproducing those bright pixels for a bright star at the midpoint.  does anyone know if there happens to be a galaxy at the same place as the star?

[2017-11-27 17:12] johnrpeterson commented on #33
if there isn't a galaxy there, please send me the instance catalog/command file/version number of this bright pixel star.

[2017-11-27 17:15] johnrpeterson commented on #33
![airglow](https://user-images.githubusercontent.com/9884658/33279388-580024f0-d36c-11e7-9efb-9ae116a6ffcf.png)

The airglow spatial distribution is validated against the measurements of Adams & Skrutskie 1996.  What is shown here is the screens.  What ends up in the images is complicated by the clouds, vignetting, other forms of background, etc.

[2017-11-27 17:54] johnrpeterson commented on #33
there's not really a "scaling for bands."  basically the airglow has its own spatial pattern and own SED.   that SED of course is very very red, as you know.   so when go to r-band, say, there is other components like zodiacal light which are going to be a lot of the flux and have a very smooth spatial distribution.  so that will diminish the variability.  clouds, absorption, & scattering will mod

[2017-11-27 17:58] sethdigel commented on #33
Here is a quick and dirty ds9 overlay of star (crosses) and galaxy (circles) positions in the region of the bright star.  Again, the scaling is logarithmic.  I am not sure why there's an overall shift - could be my inexperience with region files - but there's no galaxy on top of the star.  The definition of the star is quoted in my posting from last night.  The trimcat file for this sensor visit t

[2017-11-27 18:00] SimonKrughoff commented on #33
@sethdigel I was misreading your plots before.  I thought they were showing that DC2 runs were faster than DC1, but that's not the case.  On average they are slower (by a large amount in some cases).  Is this due to the higher background values?

Can you normalize runtime per chip by the median of the image?  Sorry if you produced that and I missed it.

Also, I'm worried that we won't be able to f

[2017-11-27 18:03] TomGlanzman commented on #33
@SimonKrughoff we have experimentally determined that 34 instances of PhoSim on a single KNL node is fine (the actual limit, as determined by Glenn Sembroski, is 36 instances).   We then run each instance with 8 threads for 272 total threads/node.

[2017-11-27 18:06] SimonKrughoff commented on #33
@TomGlanzman great!  Thanks for the info.

[2017-11-27 18:10] johnrpeterson commented on #33
Simon, the timing tests from before are here:

https://docs.google.com/document/d/1f5aoP9ND62NNwdfcex21zYcdnY3VFTZkLgRyYP4yPy8/edit

It is quite subtle about how it is actually different to run 1 phosim at a time vs. 34 or so.  There are also some things like the factor of 2.5 improvement that brings the efficiency up to 100% from 40%.  This probably is not measurable by just looking at CPU time.

[2017-11-27 18:12] johnrpeterson commented on #33
seth, do you have the command file?  if its not related to the midline, then this is strange.

[2017-11-27 18:35] sethdigel commented on #33
@SimonKrughoff As I reported above, the wall clock times for the DC2 sensor visits were a factor of 2.09 shorter on average than for the DC1 sensor visits.  The CPU time is a different story, but apparently not as relevant in the multi-threaded, multi-core context.  I think that John is right that the gains must come from more efficiently using the capacity of nodes.

I had been wondering about ho

[2017-11-27 19:06] TomGlanzman commented on #33
@SimonKrughoff and @johnrpeterson yes, that is the correct path to the command file.

[2017-11-27 19:10] cwwalter commented on #33
@sethdigel and all:

Can someone walk me through the numbers for the scaling of the run times?  I don't see how we get a factor of 20 compared to what we had before.  Like John said above, it must have less to do with how much CPU time is being used and more about using more CPU time within a given amount of wall time in the utilized nodes.

So, if someone could start with the original number and

[2017-11-27 19:26] salmanhabib commented on #33
@cwwalter It's in my write-up for the NERSC ERCAP, which I believe everyone has seen. I am happy to post a newer version. Fundamentally there are two things: 1) quick background + bright star problem solved + 2) running 36 jobs simultaneously (8 threads per job) on one KNL node (instead of a much smaller number of jobs as was done earlier). I will write up a document explaining this in more detail

[2017-11-27 19:33] johnrpeterson commented on #33
there is:

1)  the factor of 2.5 in multi-threading efficiency.  this is hard to realize unless you are doing a fully loaded test and looking at wall time like we did before.  this factor is completely known, but somewhat confusing to measure.
2)  there is the factor of 5 in quickbackground.  this factor is also well-known.
3)  bright star fixes.  roughly a factor of 2.  bug that caused long run t

[2017-11-27 19:34] cwwalter commented on #33
@salmanhabib Thanks!  I'm not sure it the report was ever actually released to the rest of us.  But, I understand there was a calculation done (and I would like to see the numbers, so please do post it) but what I was asking above was that I would like to see the numbers applied to the old run times and see that you get the numbers we see in the new runtime.

Can we see those numbers here?

Old ti

[2017-11-27 19:59] cwwalter commented on #33
And let me ask this another way: @sethdigel  We should know the old and new times.  What wall times should I compare in your table to see what the effective speed up of charged time actually was.

[2017-11-27 19:59] johnrpeterson commented on #33
chris, really the best way to calculate it is what salman did, which just uses a single number.  this is more the top down approach.

its the job/node throughput in minutes on a fully loaded node.  that was the number that is 1.8 on haswell  or 3.3 on KNL and then was again measured to be around 4 with some bright backgrounds.

then you simply take the number of chips and divide by that and then m

[2017-11-27 20:08] salmanhabib commented on #33
Here's the ERCAP request doc:

[Allocation_Estimate_DC2_LSST_DESC.pdf](https://github.com/LSSTDESC/DC2_Repo/files/1507436/Allocation_Estimate_DC2_LSST_DESC.pdf)

[2017-11-27 20:08] cwwalter commented on #33
Thanks!

[2017-11-27 20:12] TomGlanzman commented on #33
@cwwalter Here is a quick comparison of *throughput* based on actual DC1 catalog runs.  The summary (with all of the many changes since the DC1 production last Spring) is that the overall *ideal* throughput has increased by a factor of about 11.

For this estimate, I used the mean elapsed time for the raytrace step of a single sensor-visit.  Below are some details.

---

DC1 production:
Mean elaps

[2017-11-27 20:19] johnrpeterson commented on #33
nice, Tom, i didn't know you could get the DC1 throughput numbers retroactively in the same form as the recent tests.

one small additional point:  DC1 was on haswell and DC2 tests are on KNL.   the throughput on haswell nodes is 1.8 times faster than KNL in terms of overall job throughput.  do we have to use only the KNL nodes?

[2017-11-27 20:22] drphilmarshall commented on #33
You should pull all these results into a DESC Note, for easier reference! I'll start one for you :-)

[2017-11-27 20:23] TomGlanzman commented on #33
@johnrpeterson Yes, we have been told that our supplementary allocation should only be used on the knl machine.  However, with a new allocation year starting up in January, we may be running with new rules.  Perhaps @djbard knows the answer to this?

A question about your previous post: do you know the performance impact of the background bug discovered after the DC1 production?

[2017-11-27 20:23] salmanhabib commented on #33
@johnrpeterson we don't have to use only the KNL nodes. Note the ERCAP request is in NERSC hours but does not really say what flavor. If we get more Haswell time, then we can use the NERSC allocation more effectively.

[2017-11-27 20:26] drphilmarshall opened #48 "PhoSim 3.7 Timing Note"
The PhoSim 3.7 timing tests really should be written up as a DESC Note, so that 1) they are easy to find by anyone in the collaboration and 2) the team gets credit for what was a fair bit of hard work.

We have John, Glenn and Tom's [test notes](https://docs.google.com/document/d/1f5aoP9ND62NNwdfcex21zYcdnY3VFTZkLgRyYP4yPy8/edit), and also the text Salman wrote for the [NERSC ERCAP request](https:

[2017-11-27 20:27] cwwalter commented on #33
@TomGlanzman Thank you very much for your clear answer.

I think this number is probably inline with expectations of the other calculations since the the background bug gave us something like a factor of something like 5 in runtime speedup (but the factor was altitude dependent).

[2017-11-27 20:34] drphilmarshall commented on #48
Authors: here's the live [link](https://docs.google.com/document/d/1muXK0tb6Inylrysd4TmXECLLsYclZNQ2_6pYlwFRwy0/edit?usp=sharing) to the Note file.  @sembrosk, I don't seem to be able to assign this issue to you as well but I'm working on it :-)

[2017-11-27 20:55] johnrpeterson commented on #33
If you multiply Tom's factor of 11 by 1.8 for the Haswell/KNL speed ratio then you are at 20, which is close to the 25-40 range predicted.   So i think that factor of 1.8 is the main difference.  Not sure why it not a little higher, but ok.  Not worth digging into this too far...

[Also from the point of view of planning, its only really relevant what is the number now, and not necessarily worryin

[2017-11-27 20:58] salmanhabib commented on #33
From the test cases that Glenn ran, the Haswell/KNL speedup factor is more like 2-3, which is what I had expected. But 1.8 is in the ballpark.

[2017-11-27 21:04] drphilmarshall commented on #47
OK, thanks @katrinheitmann ! I got some feedback from @jchiang87 as well, and have the following list of modifications to make:

* [ ] Set Run 1.0 dates to the end of Sprint Week
* [ ] Allow more time for protoDC2 Extragalactic Catalog validation
* [ ] Include the Truth Tables to the list of deliverables (to enable validation tests)
* [ ] Add Run 1.1 Instance Catalogs deliverable, and make clear t

[2017-11-27 21:06] cwwalter commented on #33
Tom is already comparing his DC2 test on KNL vs the old DC1 tests on Haswell.  The factor of 10 already includes the speed factor.

The background bug matters for the comparison since it made the old DC1 run go faster than it would have.  If it wasn't there then it would have been slower and the factor we see would have been higher than 10 (probably in line with the number John quoted above).

[2017-11-27 21:15] johnrpeterson commented on #33
No, i mean that the "25-40" prediction does not include different hardware.  But Tom's 11 does compare different hardware.  So from the point of view of seeing if the prediction is right, we need to multiply Tom's number by 1.8 (or 2-3 as Salman said) to make an apples to apples comparison.  And if we did use more haswell nodes to run DC2, then Tom's number could go up into the 20s.

I don't think

[2017-11-27 21:23] katrinheitmann commented on #47
Are you going to make those modification? Just checking ... One other
small question: should we add a p and i for the runs to distinguish
phosim and imsim rather than tracking the numbers somewhere? So Run-p
1.1 and Run-i 1.1 would then exist. Just wondering. Thanks!

On 11/27/17 3:04 PM, Phil Marshall wrote:

[2017-11-27 21:30] salmanhabib commented on #33
I have a radical suggestion since I think this discussion is going around in circles: Forget what happened in DC1.

We now have a protoDC2 catalog ready to go (at least good enough for test purposes). Run that with PhoSim 3.7 and see what performance/timing we are getting. If it's fine we are good, if there's a problem we will fix it. We have time to burn at NERSC right now, so let's use it.

[2017-11-27 21:38] cwwalter commented on #33
Just in case someone got the wrong idea: I'm not trying to stop us from running now.  We should run a test dataset as soon as the instance catalogs are ready.

I was simply asking to have the numbers from our tests presented in clear/simple way so that we could also double check if things scaled as we expected from our previous real world run.  Thank you very much to Tom for helping.

I certainly

[2017-11-27 21:41] evevkovacs commented on #33
@jchiang87  Scott Daniels pointed us to https://github.com/LSSTDESC/DC2_Repo/blob/master/scripts/protoDC2/generateDc2InstCat.py. I believe that this is ready to run on protoDC2. Can we try it? And then go on to running PhoSim, as per Salman's suggestion? Our goal was to have some images from protoDC2 to be available for the ANL sprint next week.

[2017-11-27 21:50] TomGlanzman commented on #33
Thanks @evevkovacs for letting me know the script is ready for test.  Just a reminder to all: we started DC1 production generating the instanceCatalogs as part of the work flow, but soon discovered that due to  an OS problem on cori-haswell this would not scale (more than a few simultaneous executions of the IC generator would cause them all to stall).  Therefore, @MustafaMustafa kindly ran the ge

[2017-11-27 21:52] jchiang87 commented on #33
Yes, @evevkovacs, I was just about to propose trying it.  There is already an instance catalog available for testing at NERSC.  It include three files:
[code]

[2017-11-27 22:17] jchiang87 commented on #33
The first production version of `generateDc2InstCat.py` for protoDC2 will be available once a sims release using current master is available and that release is installed at NERSC.  #17 is the relevant issue and the usage of the script itself is described and linked in at that issue.
@danielsf Can you please inform @heather999 when the sims release is ready?  We'll also need the master of `gcr-cat

[2017-11-27 22:30] danielsf commented on #33
Will do.  There is currently a backlog on the Project Jenkins cluster which is holding up the release.

[2017-11-27 22:34] TomGlanzman commented on #33
Will also need the equivalent of @humnaawan 's visit database used by DC1, which includes a list of all sensors to simulate.  Or should the entire focal plane be simulated?

[2017-11-27 22:35] jchiang87 commented on #47
Here are a few follow-up comments on the proposed updates to the milestones:

* In my view, the SSim and CI Code freezes should mean that no new development can occur after the freeze date, so that those dates are the drop-deadlines for getting features like handling sensor effects, adjustments to sky background, etc. into the phosim, imsim, or L1/L2 codes.  *Operational* bug-fixes can, of course,

[2017-11-27 22:42] jchiang87 commented on #33
The plan is to use the mechanism referred to by Eric and John [here](https://github.com/LSSTDESC/DC2_Repo/issues/17#issuecomment-345601741) and [here](https://github.com/LSSTDESC/DC2_Repo/issues/5#issuecomment-337620453) for down-selecting sensors for partially covered focal planes.

[2017-11-27 23:06] sethdigel commented on #5
This magnitude-dependent buffer region that John mentioned is part of what phoSim does in constructing the trimcat files for individual CCDs from the instance catalog file (see [this line](https://bitbucket.org/phosim/phosim_release/src/bbeb01902667e724b90d1c1e31072eb9bf57295b/source/trim/trim.cpp?at=master&fileviewer=file-view-default#trim.cpp-171) in trim.cpp).  I'm not an expert, but I suspect

[2017-11-27 23:23] yymao commented on #33
@jchiang87 I created a tag on gcr-catalogs for your use, see https://github.com/LSSTDESC/gcr-catalogs/releases/tag/v0.6.3

[2017-11-27 23:34] danielsf commented on #38
@evevkovacs's insight that the observer frame luminosities are at snapshot redshifts improves the fit, but only marginally.  I also plotted the magnitude fits in the rest frame (which should be immune to the effects of diverse redshift definitions).  There is still a delta_magnitude between Galacticus' calculations and the CatSim SEDs on the order of a few 0.01 magnitudes.  Recall that the numbers

[2017-11-27 23:58] drphilmarshall commented on #47
Yes, I'll make the changes. Also, here's some more feedback from @cwwalter :
* [ ] Run 1.1 should be a larger-scale test than Run 1.0, and include both PhoSim and ImSim realizations - and be the thing that is _introduced_ to the collaboration at the SLAC meeting and then the test set that determines our readiness for production
* [ ] We should avoid the term "Review" since it implies a level of fo

[2017-11-28 00:08] katrinheitmann commented on #47
@jchiang87 For the work items still to be done for the extragalactic catalogs, I made a list at the end of Section 5 (5.4) where I just made notes for the team what needs to be done. If you think it's useful, we can do the same for the items you list above. The first three bullets all concern CatSim I believe and so does the last. The validation section has been started in Section 11, maybe we can

[2017-11-28 00:16] evevkovacs commented on #38
Focussing on "rest-frame no dust", you say the differences are ~few x .01 mags. Can this reasonably be accounted for by the differences between the SED template  fit by CatSim and the "true SED", which is only coarsely approximated by the SED filter luminosities supplied by Galacticus? The width of the wavelength bins for the SED filters in Galacticus varied from 250- 600 angstroms over the wavele

[2017-11-28 00:33] jchiang87 commented on #47
Sounds good @katrinheitmann .  I can update section 6 with those tasks if you want.  Regarding the last item in my list, I think the scope is larger than CatSim since there are science implications involved in the sky location of the image sims and the choice needs to be coordinated with the time-domain groups.

[2017-11-28 00:47] danielsf commented on #38
I am attaching a text file that lists the magnitudes (unnormalized by any distance modulus) of the CatSim SEDs in each of the Galacticus tophat bands.  I'm not sure which plots would be most helpful, so I'm just going to put the data here.

I do suspect that what we are seeing is the natural slop one would expect from approximating one SED grid (Galacticus) with another (CatSim).  I don't have a s

[2017-11-28 01:25] jmeyers314 commented on #22
@jchiang87 , have you had a chance to look at this yet?

[2017-11-28 02:21] jchiang87 commented on #22
@jmeyers314 Unfortunately, I haven't had a chance.  Do you want to give it a try?  If not, I'll find someone to take this on.

[2017-11-28 02:24] yymao commented on #47
@katrinheitmann @aphearin will there be a GalSampler version of protoDC2 available for testing in DESCQA *before* the `cosmoDC2 Checkpoint` milestone?

[2017-11-28 02:57] katrinheitmann commented on #47
Yes, please go ahead and update section 6 if you don't mind. We should
find a good way to capture your last point as well.

On 11/27/17 6:33 PM, James Chiang wrote:

[2017-11-28 02:59] katrinheitmann commented on #47
I sure hope so. @aphearin, do you have an update on the current status?

On 11/27/17 8:24 PM, Yao-Yuan Mao wrote:

[2017-11-28 03:18] cwwalter commented on #5
I recall there is also a setting you need to set to let PhoSim know not to simulate sensors with less than something like 200 sources. Otherwise those sources will wind up on other CCDs.  I think @johnrpeterson mentioned this in another issue.

It would probably be good to test this feature/complete setup first to make sure it is all correctly setup and operating as expected.

[2017-11-28 04:16] drphilmarshall commented on #47
OK, check out the new Table 7 in the [overleaf DC2 Plan](https://www.overleaf.com/read/jwbjvjnszkzf). Merging @cwwalter 's vision of a 1-month analysis group validation period after the (internal) release of the Run 1.1p/i DM catalogs at the Winter collaboration meeting with @jchiang87 's definition of "code freeze" means we are looking at freezing the image simulation codes and configurations, an

[2017-11-28 04:47] jchiang87 commented on #47
I think a mid-January date for the SSim code freeze may be too aggressive unless we are willing to live without certain features in imSim for DC2.  We should check with the people doing the implementations of the PSF and sensor effect features, but I would be surprised if those items would be ready before the end of January at the earliest.  I'm not sure where to find the time, but the 5 weeks bet

[2017-11-28 05:01] drphilmarshall commented on #47
Would that mean planning for a DR1.2 (that simply remade the Run 1.1i
images and DM catalogs using the new ImSim features), after re-freezing the
SSim code? I guess the ImSim code would need to be finished c. 3 weeks
before the checkpoint (to leave time to make the Run 1.2 images, process
them, and run the validation tests) - so that'd be about 2/22 or so.

[2017-11-28 05:33] jmeyers314 commented on #22
Sure, I'll give it a try.  Is there a "getting started with DESC at NERSC" guide somewhere?

[2017-11-28 05:49] jchiang87 commented on #22
Amazingly enough, there is just such a page on confluence:

https://confluence.slac.stanford.edu/display/LSSTDESC/Getting+Started+at+NERSC

The NIM user guide is also pretty helpful:

https://www.nersc.gov/users/accounts/nim/nim-guide-for-users/

[2017-11-28 17:42] danielsf commented on #33
@heather999 `eups distrib install lsst_sims -t sims` should now get you version 2.4.2 of sims, which includes the changes @jchiang87 is waiting on.  Unfortunately, it is built against w.2017.46 of DM, so you are going to have to build `afw` again.  There is, as usual, an `lsst_apps` to go with it, if you want to run `eups distrib install lsst_apps -t sims`.

[2017-11-28 18:27] katrinheitmann commented on #29
@cwwalter So, ready to close this one? Thanks!

[2017-11-28 18:32] cwwalter commented on #29
OK.  For DC2 we will turn off proper motion as implemented by Jim and Scott.

Jim, can you comment whether will also turn off parallax? I am still unclear on whether this is necessary. Then after that is documented we can close this issue.

[2017-11-28 18:35] TomGlanzman commented on #33
I am setting up to run phoSim on the sample instanceCatalog (above).  It will appear as the 12th stream in the [DC2-phoSim-1](http://srs.slac.stanford.edu/Pipeline-II/exp/LSST-DESC/task.jsp?task=49412792) task.

@jchiang87 Your instanceCatalog files are read protected in /global/cscratch1/sd/jchiang8/protoDC2

Given that there is not yet a list/DB/script to advise on the sensors to simulate, I wil

[2017-11-28 18:39] jchiang87 commented on #29
Parallax will still be enabled, i.e., my changes should only affect proper motion.   PR #49 has proper motion disabled by default.  So I agree that we can close this issue.

[2017-11-28 18:41] cwwalter commented on #29
OK closing.  But we should confirm that parallax is handled by DM and what the consequences are if it isn't.  @danielsf do you know?

[2017-11-28 18:41] #29 closed

[2017-11-28 18:50] jchiang87 commented on #33
I changed the group on those files to `lsst` so they should be accessible now.

Can we add instance catalog commands to the phosim command file?  I added the line
[code]
as per Eric and John's suggestions, but it would be better if that could be put in the common extra commands file instead.   As far as I know, there are no plans to provide a list of sensors to simulate for DC2 phosim runs since t

[2017-11-28 19:15] TomGlanzman commented on #33
Thanks @jchiang87, can now read the instanceCat.

Regarding sensor selection, will need @johnrpeterson to address the issue of whether 'minsource 100' (or any other instanceCatalog directives) can be added to the command file.  Also, this scheme seems to suggest scheduling jobs for all sensors and then allowing phoSim to decide whether or not to bail.  Perhaps another question for John: where does

[2017-11-28 19:26] danielsf commented on #29
I do not know

[2017-11-28 19:28] johnrpeterson commented on #33
"minsource 100" goes in the instance catalog  not the command file as its a very catalog specific command.  the trim program will just not output a catalog to send to the raytrace if its not enough sources.

by the way, we may still want to do a magnitude cut of some kind.  i think this is the best scheme with a magnitude-dependent buffer around the whole region and this minsource trick, for getti

[2017-11-28 19:31] cwwalter commented on #29
@ctslater Can you comment?

[2017-11-28 19:33] jchiang87 commented on #33
I'll update the `generateDc2InstCat.py` script to add that `minsource 100` line to each instance catalog.

That script has a 10th magnitude floor on all star magnitude values.   Unless I hear definitively otherwise, that will remain the default setting.

[2017-11-28 19:36] ctslater commented on #29
DM does not currently fit parallax, nor is it used for computing the positions of reference catalog stars.

[2017-11-28 19:38] cwwalter commented on #29
Is that bad? :)

[2017-11-28 19:39] danielsf commented on #29
(quick interjection: it is one or two lines of code to turn parallax off the same way Jim turned proper motion off)

[2017-11-28 19:43] ctslater commented on #29
It is not good, but it shares the same root issue as proper motion, so they share a (mostly) common solution. I don't have an easy estimate for the magnitude of the error it would introduce.

[2017-11-28 19:45] cwwalter commented on #29
Well... unlike the proper motion they are not going to keep getting bigger with time as we move away from the year 2000.  There is just going to be some offset which switches back and forth and so will average out over time.  I assume HSC sees this but it is probably also wiped out by PM. @TallJimbo do you have anything to add?

[2017-11-28 19:46] cwwalter commented on #29
PM = Proper Motion, not Phil Marshall :)

[2017-11-28 19:47] egawiser commented on #29
Nice one!  Can anyone give a reason why we shouldn't turn off parallax along with proper motion, given that DM doesn't fit for it?

[2017-11-28 19:48] TallJimbo commented on #29
HSC sees very little of either proper motion or parallax, except perhaps between bands, as we tend to observe depth-first.

[2017-11-28 19:51] cwwalter commented on #29
The only reason I can think of is that there is going to some residual left over from our corrections when we really take data.  We are basically getting rid of all of that.  So we would be putting in absolutely perfect correction.  Parallax would leave something left over, but we don't know how much so this might be a stupid reason.

What does this mean?

[2017-11-28 19:53] TallJimbo commented on #29
We point at an area of sky on a particular night and basically go to full depth in that area, and then move on to another part of the sky.  So for any given area, the baseline for variability is quite small.

I suppose that only applies to the HSC Wide survey, though - we do return regularly to the Deep and UltraDeep fields.

[2017-11-28 19:57] cwwalter commented on #29
Generically following up on my comment above:  If we perfectly correct for all motion, we are likely going to be doing better in our astrometric performance than in reality.  The reason I wonder if it is a good idea to be "perfect" is if there are in fact correlations with other metrics we want to check.

Will we be making a good test of those other factors if somehow having a perfect astrometric

[2017-11-28 20:00] cwwalter commented on #29
If this is in fact important, I guess one solution would be to turn everything off and then introduce jitter on the position of all stars drawn from our expected astrometric performance.

[2017-11-28 20:18] johnrpeterson commented on #33
might want to do part of the whole survey volume with a limit and another part without.  do you have the statistics on the number of stars in each magnitude bin in the 6-10 region?

[2017-11-28 20:50] TallJimbo commented on #29
Proper motions are definitely a factor in how good the overall astrometry can be, though we're at least hoping that Gaia will basically solve that part of the problem.  I don't have any idea how much of a problem parallaxes would be in the absence of proper motions.

But proper motions aren't the only reason astrometry is hard, and I don't think you'll go too far into the realm of unrealistic perf

[2017-11-28 21:12] cwwalter commented on #29
OK thanks Jim.  @jchiang87 and @danielsf Can you please also flip off the parallax in the code?

[2017-11-28 21:15] jchiang87 commented on #29
sure. will do.

[2017-11-28 21:16] cwwalter commented on #29
@danielsf Any other motion components I should know about now instead of in March? :)

[2017-11-28 21:21] cwwalter commented on #29
Where do things like nutation show up?

[2017-11-28 21:24] jchiang87 commented on #29
The various transformations applied to the ICRS coordinates are described here:

https://github.com/lsst/sims_catUtils/blob/master/python/lsst/sims/catUtils/mixins/AstrometryMixin.py#L147

[2017-11-28 21:37] danielsf commented on #29
Everything due to the motion of the Earth about its axis (precession, nutation, and aberration) is applied by palpy.  We can turn these off by taking palpy out of the loop, but we have to turn them all off.

[2017-11-28 21:40] cwwalter commented on #29
There are complicated interplays between them and PhoSim right?  You have explained it to me before and I have understood it 5 times for 10 minutes each time.

I think we want refraction on in any case so I think we should leave these on unless people think they are big effects we should remove?

[2017-11-28 21:47] danielsf commented on #29
Yes.  It is complicated, but I think we could safely turn them off, if we had to.

[2017-11-28 22:15] cwwalter commented on #29
Well, we want to turn DCR on so I don't think it would make sense to turn the overall refraction off.  It's looks like that is turned on this this code.

This will leave us with nutation which is on a 19 year cycle (a 9" circle) and the aberration which has a maximum angle of something like 20" over the year.  I assume the corrections would all be in the same DM code that isn't correcting for the

[2017-11-28 23:01] danielsf commented on #29
For the record, PhoSim handles refraction itself.  We explicitly turn CatSim's refraction model off when generating PhoSim InstanceCatalogs

https://github.com/lsst/sims_catUtils/blob/master/python/lsst/sims/catUtils/exampleCatalogDefinitions/phoSimCatalogExamples.py#L363

And the CatSim refraction model is not wavelength dependent at this point.  I would not expect ImSim to produce realistic DCR,

[2017-11-28 23:13] cwwalter commented on #29
Yes, we will add it.

[2017-11-29 01:37] egawiser commented on #29
I'm not an astrometry expert by any means, but I would think that it's fine to simulate "motion of the Earth about its axis (precession, nutation, and aberration)" since those should affect all stars and galaxies similarly and be taken care of by astrometric calibration, which is already part of DM.  We already know from DC1 that this doesn't cause catastrophic problems, at least.

[2017-11-29 03:03] heather999 commented on #33
the new lsst_sims 2.4.2 is now installed at NERSC for cori haswell. To use it, one can `source /global/common/software/lsst/cori-haswell-gcc/stack/setup_w_2017_46_py3_gcc6.sh` and then `setup lsst_sims` and/or `setup lsst_apps`

[2017-11-29 06:57] jchiang87 commented on #33
Thanks, @heather999.
I made the final changes to `generateDc2InstCat.py` (and to gcr-catalogs) to get everything to work with sims version 2.4.2.  Proper motion (and parallax) are disabled by default and each instance catalog will have `minsource 100` added.

Everything is in
[code]
at NERSC.

[2017-11-29 15:49] johnrpeterson commented on #33
@sethdigel i'm still having a hard time reproducing those bright looking pixels on that bright star earlier in this thread.  when i rerun this even with the older version (v3.7) then it looks rather smooth to me.  i believe i am using the exact same settings.  can you either confirm further there really are some non-poisson bright pixels around the star (and not just a color table illusion) and/or

[2017-11-29 16:37] cwwalter commented on #29
Yes, good point. OK we leave these on.

[2017-11-29 16:44] cwwalter commented on #29
This makes me realize there is possible an issue of using the same instance catalog for parameterized or ray-traced atmospheres in imSim.  I am going to leave this closed issue now and move that discussion to the imSim repo.

Thanks for everyone's contributions to this discussion!

Documenting a summary of the decisions for when we look at this in the future:

Due to proper and other motion of MW

[2017-11-29 19:40] TomGlanzman commented on #33
A new test run of phoSim using the new DC2 catalog provided by @jchiang87 has completed.

One interesting operational feature: using "minsource 100" caused phoSim to produce 23 empty trimmed catalogs.  Raytrace then ran and produced (mostly) empty images with only background.  Thus, the 'minsource' parameter did not reduce the number of raytrace jobs.

[2017-11-29 19:42] sethdigel commented on #33
@johnrpeterson Yes, the image has non-Poisson-looking pixels.  I've copied the file to
http://www.slac.stanford.edu/~digel/lsst/DC2/lsst_e_220090_f2_R20_S02_E000.fits.gz
Please let me know when you've got it.

[2017-11-29 20:12] SimonKrughoff commented on #33
Maybe this was noticed before, but a lot of the objects look more "speckly" than I'd expect:
![image](https://user-images.githubusercontent.com/945715/33396775-d106bdbe-d506-11e7-85b1-dd8db492aca9.png)
This is with zscale clipped at 1000:10000

[2017-11-29 20:17] johnrpeterson commented on #33
ok, this is strange.  i agree that the file seth sent is very speckly and the sim i just did on my laptop is very smooth.  i thought i did the exact same thing with the exact same catalog & command file, but the two images look dramatically different.

[2017-11-29 20:22] katrinheitmann commented on #33
Can you post your image, John? This is mostly (for educational purposes)
for me to see what you think it should look like ... I still have to
learn a lot in this area...

Thanks!

On 11/29/17 2:17 PM, johnrpeterson wrote:

[2017-11-29 20:25] SimonKrughoff commented on #33
I agree with @katrinheitmann.  It would be nice to see your FITS file.

[2017-11-29 20:31] rmandelb commented on #33
In addition to confirming versions of the catalog and command file, are you 100% sure you're both using the same version of PhoSim?  Sorry to be so pedantic, but in the spirit of considering all possible failure modes I thought I would check.

[2017-11-29 20:38] sethdigel commented on #33
All of the DC2-phoSim-1 sensor visits have been run with phoSim v3.7.1.  I pointed John at the command file two days ago (see posting above).  I think that he probably is using the same trimcat file, but for reference, the one used in Tom's run was /global/projecta/projectdirs/lsst/production/DC2/DC2-phoSim-1/scratch/000007/work/trimcatalog_220090_R20_S02.pars

[2017-11-29 22:20] TomGlanzman commented on #33
Another thought on the handling of "empty" sensors, i.e., those with less than 100 sources.  The most recent test indicated a wide range of execution elapsed time for these empty sensors.  An eyeball average is around 2 hours elapsed time (on KNL using 8 threads).  I do not know the average fraction of sensors that must be simulated per visit for DC2 (for DC1 it was less than 50%).  If the DC2 ave

[2017-11-29 22:55] jchiang87 commented on #33
@TomGlanzman Are you running `phosim.py` in your pipeline? That's where the mechanism to which John refers is applied to omit `raytrace` jobs with fewer than `minsource` objects in the trimmed catalog file.  Otherwise your pipeline code will need to inspect the contents of the trimmed catalogs and decide for itself whether to submit those raytrace jobs.

[2017-11-29 23:27] TomGlanzman commented on #33
Thanks @jchiang87  This is the same basic structure as the DC1 workflow, so running raytrace manually.

[2017-11-29 23:37] katrinheitmann commented on #33
Sorry for loosing a little bit again the overview -- the image above that people call "too speckly" is DC1 with PhoSim 3.7, right? But what @TomGlanzman is reporting now is phosim 3.7 run on protoDC2 with the DC1 workflow, correct? @johnrpeterson Would it make sense to try the workflow you and Glenn have set up at NERSC as well at this point? Thanks!

[2017-11-30 14:23] johnrpeterson commented on #33
yeah, the difference is obvious when you compare the two FITS files in ds9 side by side.

![seth](https://user-images.githubusercontent.com/9884658/33435411-1588336a-d5b0-11e7-9642-ecb14678b09d.png)
![john](https://user-images.githubusercontent.com/9884658/33435414-176a4704-d5b0-11e7-96aa-ea0bbf08efc8.png)

[2017-11-30 14:28] johnrpeterson commented on #33
hopefully, its not a compiler-specific/platform-specific bug and just a difference in versions or commands.  we had one of those in the v3.7beta testing.  it was related compilers handling initialization of thread variables differently.  but it could be:

1) different version
2) incorrect use of phosim by not using phosim.py
3) compiler/platform differences
4) different catalog
5) different comman

[2017-11-30 14:32] katrinheitmann commented on #33
Thanks John (also for posting the image)! When do you think Glenn can
try to run at NERSC? Can he then also use the exact same catalog, just
to be on the safe side? And maybe also v3.7.1, again, just to make sure?
I think that would help a lot.

On 11/30/17 8:28 AM, johnrpeterson wrote:

[2017-11-30 15:06] salmanhabib commented on #33
@johnrpeterson Quick question for John -- is the random number generation deterministic across threading (and other) options? (i.e., one seed for each chip uniquely determines the final answer, independent of all other settings)

[2017-11-30 15:52] SimonKrughoff commented on #33
@johnrpeterson do you mind sharing the FITS file you produced on your laptop?

[2017-11-30 17:11] aimalz commented on #18
I just saw an email (about the 16 November SSim telecon) that hinted at a generative model for galaxy morphology, although it wasn't totally clear if it would be part of DC2.  Since the topic is on people's minds, I just wanted to bump up this issue on the forward modeling radar, too.

[2017-11-30 17:46] cwwalter commented on #18
Hi Alex,  GANs won't be ready for DC2 but we will probably apply knots following a random walk in the imSim simulation with parameters being fit to the COSMOS sample.  Look at Francois' presentation at the SSim meeting two weeks ago for details.

We envision this being the 1st of several morphology choices for the future.  Does that help?

[2017-11-30 17:50] salmanhabib commented on #18
To me GANs constitute a separate R&D project. After appropriate V&V, we should certainly consider these techniques (among others, BTW), but a certain science threshold has to passed before we consider them to be production.

[2017-11-30 19:08] TomGlanzman commented on #33
@SimonKrughoff suggested that DC2 may wish to have phoSim output the amplifier files in addition to the electron files.  @cwwalter are those files needed?  If so, it will have an impact on the storage needed (~factor of 2).

[2017-11-30 19:17] salmanhabib commented on #33
@SimonKrughoff We would need a strong argument for this coming from the science groups. Is it possible to keep this information only for some fraction of the FOV? A factor of two in storage is just too large.

[2017-11-30 19:17] cwwalter commented on #33
Yes, our plan for DC2 has been to include the amplifier output.  This is one of the reasons we have been careful considering artifacts etc for ISR.

[2017-11-30 19:18] SimonKrughoff commented on #33
We could avoid saving the e-images.

[2017-11-30 19:24] salmanhabib commented on #33
@cwwalter  So there is in fact no factor of two in the storage, it's already included?

We are being way too profligate with storage. I still have not heard any good arguments for the 15X blow-up due to DM and how we want to reduce this factor.

[2017-11-30 19:29] cwwalter commented on #33
@salmanhabib Well.. this has always been in the plan. So whether or not there is a factor of 2 depends on if it was correctly included in the calculation.  I thought it was but am now not positive since I thought this was already included.

I agree on figuring out the blow up. But, we do know how to just git rid of a at least a third of it, that we can compress it, and we might decide to get rid o

[2017-11-30 19:33] salmanhabib commented on #33
@cwwalter Ok, thanks. Let's come up with a data management plan for DC2, we don't need to do this right away but perhaps some people should be charged with discussing it next week.

[2017-11-30 20:30] SimonKrughoff commented on #33
@salmanhabib you said

I don't understand what you mean by good arguments.  We know exactly why that's happening.  We can avoid some of it, but we've never made a decision on how we want to bring that down.  There's some floor, but we haven't decided that we want to bring it down at all.

[2017-11-30 20:33] salmanhabib commented on #33
@SimonKrughoff Can you point me to a readable document that states where the 15X factor comes from? I asked for this earlier on the Slack channel and no one responded. I assume the science WGs will also want to know what this is all about (unless they know already and the ignorance is only mine).

[2017-11-30 20:50] SimonKrughoff commented on #33
OK sorry if I missed that.  We have no document I know of, and I can look a little more, but the story is:
2x: int --> double
another 2.5x --> adding mask plane and variance plane
Then we keep a copy of each of the following data products:
calexp -- calibrated exposure
warp -- warped calibrated exposures
coadd -- coadded warped calibrated exposures

The calexps are the same size as the warps, but

[2017-11-30 20:57] evevkovacs commented on #33
@jchiang87 @TomGlanzman Sorry, I have gotten a bit lost with the multitude of topics that have been covered above. Can you please summarize where you are on generating PhoSim images from the protoDC2 catalog? Do we have something that will be usable for Sprint Week? Thanks.

[2017-11-30 21:02] jchiang87 commented on #33
Operationally, we can start generating phosim images, but we need to figure out the speckling issue that shows up in the NERSC generated data, otherwise those features will cause problems for the image processing pipeline.

[2017-11-30 21:04] salmanhabib commented on #33
Thanks, @SimonKrughoff. Let's go over this next week, I feel that we can come up with good strategies to get significant reductions in storage (which costs real money, and I would much rather have this money used to support people who we badly need).

[2017-11-30 21:12] johnrpeterson commented on #33
Jim or Tom, can you try remaking some of the images with a different compiler and see if the speckling is still there?

I don't think its the version because now i don't see it on my laptop in v3.7, v3.7.1 ,or v3.7.3.
I don't think its the command file because i'm using the same one.
I doubt its the catalog.
Glenn is going to test his NERSC installation to see if its the implementation that Tom is

[2017-11-30 21:17] heather999 commented on #33
@johnrpeterson which compiler is recommended?

[2017-11-30 21:19] salmanhabib commented on #33
@jchiang87 I am puzzled about the speckled NERSC images. Is it easy to do a Haswell vs. KNL test?

[2017-11-30 21:20] TomGlanzman commented on #33
@evevkovacs Operationally, from my perspective, a bit of final tuning is necessary in the workflow to accommodate the new method for determining obsHistID, dynamic instanceCatalog generation, and creating the list of sensors to simulate based on trim results.  Manual workflow tests have already been performed using phoSim v3.7.1, and there will likely be a v3.7.4 in the near future.  So at this po

[2017-11-30 21:20] jchiang87 commented on #33
It should be easy.  @TomGlanzman Can you try please?

[2017-11-30 21:26] TomGlanzman commented on #33
Are we interested in testing gcc (vs icc) on KNL or some other combination on Haswell?

[2017-11-30 21:33] salmanhabib commented on #33
I would compare apples with apples -- either icc or gcc first. (BTW, how does Phosim do with Clang?)

[2017-11-30 21:41] TomGlanzman commented on #33
Current tests use icc on KNL.  There are three other combinations: gcc on KNL; icc on Haswell; gcc on Haswell.  I will set up for gcc on KNL.

Don't know about Clang (is it even available at NERSC?).  A question for John.

[2017-11-30 21:49] salmanhabib commented on #33
Let's start with icc then -- I believe Clang is available on Cori.

[2017-11-30 22:28] TomGlanzman commented on #33
Yes, Clang appears to be available at NERSC - experimentally:
http://www.nersc.gov/users/software/compilers/llvm-c-cpp/

The test with gcc-knl is ramping up.

[2017-11-30 22:32] katrinheitmann commented on #33
Would it make sense to run the Haswell test at the same time? (If I
followed correctly, you have an icc-knl so far and are now producing an
gcc-knl).

@johnrpeterson: Which compiler do you use on your laptop?

Thanks! Katrin

On 11/30/17 4:28 PM, Tom Glanzman wrote:

[2017-11-30 22:53] TomGlanzman commented on #33
@katrinheitmann The workflow is set up for gcc-knl now so must wait to do icc-haswell/gcc-haswell.

[2017-11-30 22:58] katrinheitmann commented on #33
Ah, I did not realize that you cannot have two workflows set up at the
same time.

On 11/30/17 4:53 PM, Tom Glanzman wrote:

[2017-12-01 14:13] johnrpeterson commented on #33
Simon:  If anyone wants to see what the image should look like without speckles.  This is the one from my laptop:

https://www.dropbox.com/s/ewpbke3l1hplkru/lsst_e_220090_f2_R20_S02_E000.fits.gz?dl=0

Salman:   PhoSim is completely deterministic with one thread.  With multithreading, the setup is still deterministic (which defines the environmental things), but the photon parts are not determinist

[2017-12-01 14:19] salmanhabib commented on #33
@johnrpeterson Thanks for the info/update. The reason I asked about determinism was in terms of what to expect across platforms when doing tests (like Tom G is doing now comparing KNL to Haswell).

[2017-12-01 15:49] johnrpeterson commented on #33
ok, so it definitively not the version (v3.7.1), catalog, or command file, because still can't reproduce it on laptop with exact same configuration, version, and files.  so that leaves either some bizarre platform/compiler-specific issue or something peculiar about the way they are being run at NERSC (by deconstructing phosim.py).

![new](https://user-images.githubusercontent.com/9884658/33490464-

[2017-12-01 16:02] TomGlanzman commented on #33
A delay in the gcc-knl test: an issue with the cfitsio module.  Reported as INC0112148.

[2017-12-01 16:12] katrinheitmann commented on #33
So Glenn's test will be very interesting to see at NERSC. Do you have an
estimate when his jobs will be done? Thanks!!

On 12/1/17 9:49 AM, johnrpeterson wrote:

[2017-12-01 17:47] TomGlanzman commented on #33
@johnrpeterson could you say a bit more about your comment, "I have narrowed down the code that is causing the problem, but i just don't know why its not triggering at NERSC."  Is there some combination of command file and/or catalog directives that could cause this effect?

---

For the record, the image under consideration is for obsHistID 220090 and corresponds to stream 7 of the DC2-phoSim-1 w

[2017-12-01 21:15] johnrpeterson commented on #33
try v3.7.5 now.  there is only about a 50% chance this solves it, but its a hunch.

[2017-12-01 22:31] aimalz commented on #18
@cwwalter Thanks, I think I now see why it would be quite challenging to populate the space of redshifts and observed fluxes/magnitudes/colors under the post-DC2 GAN plans using a forward model, due to requiring an additional and possibly computationally prohibitive step in the pipeline from true redshifts to observed photometry.  In the current (proto-DC2) framework without knots, how hard would

[2017-12-03 03:18] TomGlanzman commented on #33
The next test using gcc on knl has finally completed (queues are backed up ~1.5 days).  @sethdigel and others may wish to take a look at these images.

Currently being tested:  knl with Intel compiler but using the latest phoSim patches, v3.7.5.

Summary of workflow runs (with a pointer to the image files) is here:
https://docs.google.com/spreadsheets/d/17-EUgaDMtfgQLt84WquxeAjycqJaqHJZS_jZqrQXOVw

[2017-12-03 04:04] salmanhabib commented on #33
@TomGlanzman So, one of the next steps is to run exactly the same tests on Haswell with the identical version of PhoSim? Unfortunately, the results won't be the same bit for bit, but should be statistically identical.

[2017-12-03 04:08] TomGlanzman commented on #33
Yes, there are a number of tests on the agenda.  And, after John's release, there are multiple versions of phoSim to test.  Do you have a preference for which happens next?  (If so, please specify version of phosim, architecture and compiler.)

[2017-12-03 04:12] salmanhabib commented on #33
I would like a KNL vs. Haswell test as I said earlier, just to understand cross-architecture issues. Ideally with the latest version of PhoSim, but if you have done some runs already with a previous version, that's fine. For what I am interested in, just a few images are fine. Either gcc or icc is fine, whichever is more convenient for you. Pick one.

[2017-12-03 04:16] TomGlanzman commented on #33
Both Glenn and I have done exhaustive knl vs haswell tests using a validation catalog as has been described earlier.  Those results are readily available - both performance and image output.  I think a crisp description of exactly what you are thinking would be helpful - in all the details.

[2017-12-03 04:20] salmanhabib commented on #33
I think I will just give up here. Maybe it was a mistake to ask this question.

[2017-12-03 04:27] katrinheitmann commented on #33
Tom -- if you and Glenn have done all these tests already (different architectures, different compilers) do you see the speckliness that Simon noticed above in all of them? In which case, John's guess about the compiler/architecture problem compared to his laptop results is also excluded. Can you point to a summary of the tests including the images? I think I have only seen timing results. Thanks.

[2017-12-03 05:04] TomGlanzman commented on #33
@katrinheitmann The tests I performed are described here:  https://docs.google.com/spreadsheets/d/1x4Q7TS_EHQCjp4SWBWFt1xDcPIzAi2FqhCqnDq_UZcs/edit#gid=1231826281  and the result files are all in this directory tree (indexed by test number as referenced in the aforementioned google spreadsheet), /global/cscratch1/sd/glanzman/phosim-v3.7beta-tests.  We will need to consult with Glenn to know where

[2017-12-03 05:46] katrinheitmann commented on #33
Well, I was not asking for a detailed image analysis. I was simply
asking if you do a first check if your results look good and if you see
artifacts such as the speckling. How do you check that your results make
sense?

On 12/2/17 11:04 PM, Tom Glanzman wrote:

[2017-12-03 05:56] TomGlanzman commented on #33
A quick look at the e-images, and they all looked reasonable.  What do you say about these images?  I did not do a comprehensive inspection for such artifacts, as I did not know what to look for.  I could imagine that in certain fields, where the overall intensity was low, speckling could be normal.  Who did you ask to look at these images?

[2017-12-03 05:57] sethdigel commented on #33
Here's a part of an image from Tom's test of the KNL/gcc combination (stream 12).  I picked a sensor visit from that stream, loaded it in ds9 and zoomed in on a bright star.  This star, and the fainter ones around it, are quite speckled.  The scaling is logarithmic.  The background level is about 800 electrons/pixel.  The individual bright pixels scattered around the star have about 17,000 electro

[2017-12-03 06:34] katrinheitmann commented on #33
Thanks Seth! Do you know if the same is true for the Haswell phosim 3.7
tests? I am just curious to see if John's guess that something fishy is
going on with the hardware/compiler is indeed causing this.

On 12/2/17 11:57 PM, Seth Digel wrote:

[2017-12-03 07:21] sethdigel commented on #33
It looks like the only Haswell test directory I can currently read is v3.7beta1, which is the earliest.  (The other directories are not in group lsst yet.)  In v3.7beta1, which dates to August, I looked at lsst_e_4000_f2_R22_S11_E000.fits.gz.  Here's the image around a bright star.  The background level is about 400 electrons/pixel.  The individual bright pixels have about 1600 pixels.  So it seem

[2017-12-03 16:23] katrinheitmann commented on #33
Thanks Seth! Last question (sorry for being annoying ...) was this problem seen at all in the pre-3.7 runs?

[2017-12-03 17:11] sethdigel commented on #33
Before heading to the airport this morning, Tom opened up read access to the KNL and Haswell test directories.  This has Haswell and KNL tests for one or a few sensor visits.  For Haswell I see v3.7beta1, v3.7beta3, v3.7beta4, and v3.7beta6.  For KNL I see only v3.7beta6.  I guess all of these are technically pre-3.7.  I'll see if I can come up with a simple, uniform comparison; probably v3.7beta6

[2017-12-03 17:20] katrinheitmann commented on #33
Thanks! With DC1 one I did mean the v3.6.1 (without quick background).
It will be definitely interesting to see if any of the v3.7beta*
versions show this problem.

Yet another question -- has anybody run either v3.6.1 with
quickbackground or v3.7xx without quickbackground switch on (which might
tell us if the way quickbackground is run at NERSC has some problem if
it shows up in v3.6.1 with quick

[2017-12-03 23:38] sethdigel commented on #33
Just for reference, the images from Tom's KNL and Haswell runs of v3.7beta6 look equivalent to each other and to the Haswell v3.7beta1 images that I posted last night.  That is, the bright star looks speckled, although not as dramatically as in the DC2-phoSim-1 runs with v3.7.1 (the individual bright pixels are only ~4x the level of the background, ~1600 vs. ~400 electrons/pixel) and the fainter s

[2017-12-04 03:18] cwwalter commented on #18
@aimalz This is probably because I am not an expert,  but I am having a hard time understanding/answering the question.

For the simulation we actually know the true redshift for each galaxy. We even know its Hubble redshift and peculiar motion separately.  So, the true PDF of the redshift for an individual galaxy is a delta function. So you don't need to 'produce true redshift PDF", you already k

[2017-12-04 03:26] rmandelb commented on #22
@jmeyers314 - were you able to take a look at this?  Or is this something you plan to do during the next two weeks?  We were hoping to do this within the 2017 NERSC allocation if at all possible.

[2017-12-04 14:10] aimalz commented on #18
@cwwalter Ah, yes, there's a terrible problem with the language of probabilistic photo-zs!  I'm talking about posteriors conditioned on observed photometry.  The delta function is the probability of the redshift given the true redshift, but we'll need to do tests when the true redshift is not given and the final photometrys is.  We could then compare that to the estimates of the posterior of redsh

[2017-12-04 16:18] cwwalter commented on #18
OK, got it thanks!

So,my next basic stumbling block: :)

We don't "assign photometry" in the simulations.  We simulate the galaxies with a SED as assigned by the galaxy inpainting.  We use that SED to simulate the light arriving through the atmosphere and at the telescope and then we run DM on it.  Currently we run a few photometry algorithms including cmodel.

You can take a look here:

https://

[2017-12-04 19:33] duncandc commented on #21
@rmandelb would you mind the sharing the code you used to calculate N(<i_lim) with the HSC data or point me to a useable catalog where I can calculate myself?

[2017-12-04 19:42] rmandelb commented on #21
The code I used to calculate it is in another DESC repo, so I'm happy to share, but here's a question: do you want the actual N(<i_lim)?  Or a power-law fit to it that describes the data well?  I would think the latter might be better because then you don't have to worry about what is the histogram binning, etc.?

For reference, the fit is `N(<i_lim) = 42.9 [10^(0.359 (i_lim-25))]` per arcmin^2, s

[2017-12-04 19:51] duncandc commented on #21
What I would like is some self-contained code that does the following:
1.) downloads necessary HSC data
2.) calculate cumulative number density of galaxies in a set of bands
3.) interpolates the above calculation to get the cumulative number density on regularly sampled intervals
4.) fits a power law over some range
5.) defines a upper mag limit where the power law fit is used to extrapolate
5.) p

[2017-12-04 19:57] rmandelb commented on #21
OK, didn't realize you wanted to download the data.  Just a few comments:

- Your item (1) is going to depend a lot on the survey (what cuts/flags to use, best photometry to use, etc.)
- In practice, I recommend going from the differential rather than cumulative counts.  The reason for this is that at the bright end, you will often miss some objects due to cuts on e.g. interpolated pixels or CCD e

[2017-12-04 20:01] duncandc commented on #21
My first pass implementation idea is to simple use the cumulative number density at a single magnitude limit as the 'test' and not the full apparent magnitude function in bins.  I think this gets at the basic quantity of interest.  it is a simple extension to test for a few different magnitude limits if the shape of the app_mag_func is important.

[2017-12-04 20:05] evevkovacs commented on #21
@duncandc  How about using the fit for a start? Ideally, there would be papers which do the fitting and to which you could refer, but I understand that these may not exist yet for LSST-like depths. But initially, if we just want to get an idea of how the catalogs look, using Rachel's fit would be quickest. It is not obvious to me that the WGs will need fancier cuts or options, so it might be a goo

[2017-12-04 20:07] duncandc commented on #21
That's the path I am taking--The test itself is exceedingly simple.  I am also interested in the data.

[2017-12-04 20:08] rmandelb commented on #21
We definitely care about getting the shape of the number counts roughly right.

I just sent you some stuff by e-mail so you can download the data with the same SQL query and process it with my script (or modify the script as needed).  I should emphasize that I only did the i-band cumulative counts, so if we want to test >1 band, we need to at least rerun the script for r-band (which I can do mysel

[2017-12-04 20:16] yymao commented on #21
@duncandc are you thinking to generate the validation data on the fly every time when the test is run? Need to consider computational resources.

[2017-12-04 20:18] duncandc commented on #21
I am not considering that.  I am putting on the creating validation data hat.

[2017-12-04 22:59] TomGlanzman commented on #33
Some additional tests are underway:

1) another workflow test but running on Haswell.  Due to the high load on Haswell, these jobs, submitted yesterday, may not run for another 2-3 days.

2) A **single** sensor (R41_S21 - illustrated by Seth, above) using knl but using the full-blown "phosim.py" script rather than the deconstructed version in the workflow.  This test investigates whether the decon

[2017-12-05 01:50] TomGlanzman commented on #33
Those remaining two aforementioned haswell tests:

4.  A single sensor (R41_S21 - illustrated by Seth, above) using haswell but using the full-blown "phosim.py" script rather than the deconstructed version in the workflow. This test investigates whether the deconstruction process tainted the results. This test has completed (and is speckly).

5.   Same as 4) except the quickbackground directives i

[2017-12-05 17:26] jmeyers314 commented on #22
@rmandelb , Just got my NERSC credentials.  I'll start attacking this later today, and keep this issue updated...

[2017-12-05 17:30] rmandelb commented on #22
Great news, thanks!

[2017-12-05 17:50] johnrpeterson commented on #33
so Glenn reproduced the speckling on KNL.  so it appears that it is not related to a particular catalog, command file, or even the deconstruction of phosim.py.

for sure, it is something odd about the compilation on KNL, and it appears to be present from all v3.7beta's through v3.7 through v3.7.5.

we are working very hard on it to find the problem.  the turnaround time is rather long, since we ha

[2017-12-05 17:52] cwwalter commented on #33
Hi John,

You should be able to ask for an interactive queue.  They set that up for this purpose. I haven't done it but it is supposed to give you the resource very quickly.

[2017-12-05 18:09] TomGlanzman commented on #33
@johnrpeterson I agree with Chris and highly recommend the interactive queue and limit phoSim to a single sensor.  With 8 threads and quickbackground, for example, execution time should be within the 4-hour limit.

$ salloc -C knl -t 4:00:00 -L SCRATCH --qos=interactive

Within a minute you should have an interactive KNL compute node prompt from which you can execute phosim.py.

[2017-12-05 22:20] TomGlanzman commented on #33
The first (re)test using the **full** background has completed.  This is a single-sensor (R41_S21) test running on Haswell.  The bright stars in this image, when viewed with a 'log' scaling in ds9, still looks speckly.

/global/cscratch1/sd/glanzman/phosim-v3.7beta-tests/DC2/outputtestFullH/lsst_e_138143_f5_R41_S21_E000.fits.gz

@sethdigel may wish to confirm.

[2017-12-05 22:28] katrinheitmann commented on #33
Just one quick summary .... all of following combinations show the
problem (all run with v3.7xxx)

quickbackground: Haswell/gcc, Haswell/intel, KNL/gcc, KNL/intel

full background: Haswell/gcc (?)

and you did not see this with v3.6xxx (which was run always with full
background) on Haswell.

And John doesn't see it with quickbackground/3.7 on his laptop?

Thanks! Katrin

On 12/5/17 4:20 PM, Tom Gl

[2017-12-05 22:35] TomGlanzman commented on #33
Almost: the Haswell tests used the Intel compiler.  (See https://docs.google.com/spreadsheets/d/17-EUgaDMtfgQLt84WquxeAjycqJaqHJZS_jZqrQXOVw/edit#gid=0)

[2017-12-05 22:43] salmanhabib commented on #33
We can run on KNL resources at Argonne with instant access at the few node level. Might be one way to proceed?

[2017-12-05 22:56] sethdigel commented on #33
Yes, I'd call that image speckled.  The individual bright pixels have ~17k electrons/pixel.  The background level is about 500 electrons/pixel.

Here's an image around a very bright star from a DC1 (phoSim **v3.6.1**) visit, for reference.  It is a different visit, and a different, probably brighter star, but it has a much smoother distribution of electrons.

<img width="913" alt="lsst_e_193115_f2

[2017-12-06 17:36] johnrpeterson commented on #33
Speckle issue is now fully resolved in phosim v3.7.6 which just got posted.  :)

[2017-12-06 19:32] egawiser commented on #33
Fantastic - thanks, @johnrpeterson!

[2017-12-06 19:39] katrinheitmann commented on #33
That's great news indeed! Is it easy to quickly summarize what this was due to?

[2017-12-06 19:51] johnrpeterson commented on #33
well it appears there are some ultra-rare photons (like 1 in 10 million) that are kept in the nersc nodes but are discarded in the same calculation on a typical laptop.  could be compiler-specific issue or platform-specific issue.   then the bright star optimizer gets confused and thinks the star might be off the chip, and causes way more optimizing than it should.  so we have fixed this by simply

[2017-12-06 20:31] TomGlanzman commented on #33
My first test of the new phoSim v3.7.6 (thanks to Heather for the quick build and install!), using the same protoDC2 catalog as other recent tests, run on haswell look promising.  The file is here:
/global/cscratch1/sd/glanzman/phosim-v3.7beta-tests/DC2/outputtestQuickH-v3.7.6/lsst_e_138143_f5_R41_S21_E000.fits.gz

A ds9 image using the 'log' scaling around a bright star looks like this:
![screen

[2017-12-07 06:12] aimalz commented on #18
This is why I think it could be quite challenging to make the probability space over redshift and photometry.  It sounds like you have some probability distribution over redshift and SED that you use for assigning SEDs to galaxies once their redshifts are set.  To have a probability distribution over photometry and redshift, there would have to be an explicit way to convert from an SED and redshif

[2017-12-07 06:26] cwwalter commented on #18
Right.. I think this is exactly what we are doing. Just imagine you are doing a real experiment with the telescope but you know the truth information for every object you measure.  So, we are sampling the sky from the nbody simulation. The dark matter is painted in with galaxies with a distributions and SEDs from a SAM.  The light from the galaxies is propagated down to the sensor. Then we run the

[2017-12-07 06:35] cwwalter commented on #18
Also, alternatively, if you wanted to do this without any errors associated with measurement, the atmosphere etc, you could skip the image simulation and to this at the catalog level using CatSim.  For every object you could integrate the SED through the bandpass and calculate a flux in each band.  That is basically how we make the input to the image simulations now.

[2017-12-07 19:04] aimalz commented on #18
That sounds perfect!  @salmanhabib just explained the pipeline to me here at Sprint Week, and it sounds very doable.  We might try making a toy script for this soon using the pre-lensing, pre-atmosphere, pre-telescope band flux you mentioned as a placeholder until the real thing is ready, but I think it makes sense to wait until there's a more solid plan for PZ DC2 work.

[2017-12-07 19:16] salmanhabib commented on #18
@aimalz @cwwalter I am talking to our stats collaborators about the best way to do this (we have a lot of experience in this space) and will get back when we have a nice solution -- the general problem is of interest for a number of other applications aside from photo-z estimation.

[2017-12-07 23:28] sethdigel commented on #33
Regarding sky brightness in the [DC2-phoSim-1](http://srs.slac.stanford.edu/Pipeline-II/exp/SRS/task.jsp?task=49412792) runs (all phoSim v3.7.1), in case it is interesting I evaluated the median electrons/pixel in each of the 1569 sensor visits that Tom had run at the time I looked; his spreadsheet is [here](https://docs.google.com/spreadsheets/d/17-EUgaDMtfgQLt84WquxeAjycqJaqHJZS_jZqrQXOVw/edit#g

[2017-12-07 23:36] sethdigel commented on #33
Here's an expanded view of the linear feature in the upper right.  The peak is about 1700 electrons/pixel.

<img width="992" alt="lsst_e_1668469_f2_r10_s00_e000_zoom" src="https://user-images.githubusercontent.com/6035835/33744096-6aaf6fb6-db64-11e7-807e-268bf9482f3b.png">

[2017-12-08 01:55] rmandelb commented on #1
Time for a check-in on the time domain part of DC2.  My understanding of the situation after last week's SSim discussion is as follows:

- @jchiang87 and @salmanhabib were going to provide input on what our computing budget allows (both CPU time and storage).  This will help decide the field size, which factors into the decision about how much the SL and SNe need to be overloaded (density higher t

[2017-12-08 03:07] salmanhabib commented on #1
For the record there was a conversation on the dc2 Slack channel. I reproduce it here, will talk more to Jim tomorrow to better fix the numbers. We will no doubt have some questions for the Sn gang.

Phil
@habib I didn’t see you on the SSim call earlier, but I think you’ll be as interested in these slides as @jchiang87 was! Bottom line: the time domain part of DC2 is potentially as expensive as th

[2017-12-08 04:42] fjaviersanchez commented on #33
@sethdigel Thanks for this! I am by no means an expert but see below what OpSim gives for the dithered visits using `minion_1016_new_dithers`. I am using the conversion `sky_counts = 800*10**(-0.4*(skymag-21.2))` since we expect that for r-band ~ 21.2 sky-brightness the number of counts is ~800 for a 30 s exposure (https://github.com/lsst-pst/syseng_throughputs/blob/master/plots/table2)

There are

[2017-12-08 06:45] sethdigel commented on #33
Thank you @fjaviersanchez.  That certainly does look like the sky brightness is in the right range, except for whatever is the issue with obsHistID 1668469.  In your plots you are right about the bright sky counts occurring near twilight.  In the OpSim visits, the sky brightness jumps up discontinuously when the Sun reaches about -18 deg altitude, and minion_1016 has visits with sunAlt as high as

[2017-12-08 14:24] rmandelb commented on #22
@jmeyers314 - any updates?  If there are problems, maybe post on here to get some feedback/help?

[2017-12-08 14:45] johnrpeterson commented on #33
i'd guess the bright ones with the moon not out are twilight, and the overly faint ones might have some clouds.

for the linear feature, is that after phosim v3.7.3?  that fixed the optimization error for extended sources.

[2017-12-08 17:01] cwwalter commented on #33
I'm confused by the overall pattern of the brightness.  This is in electrons not magnitude.

So, when the moon is really far below the horizon (-50) the level is about right. But then, as the moon gets closer to the horizon the sky gets darker and darker until suddenly the moon starts to kick in and then the sky gets very bright.

Putting aside large outliers which might be due to effects like clo

[2017-12-08 17:36] johnrpeterson commented on #33
i don't think that means anything.   i think its probably just there are a finite number of observations occurring closely in time.  if you had more data, i don't think you'd see a trend for moonalt < 0

[2017-12-08 17:44] sethdigel commented on #33
None of these observations is in twilight.  The one with with the greatest solar altitude (-22.5 deg) is 194113, which is also the one with the greatest lunar altitude (+25.0 deg).  Also, two visits at the lowest lunar altitude (-49.7 deg) also have the lowest solar altitude (-47.2 deg).

One more remark about the Moon in phoSim.  If the moon is below the horizon (moonalt < 0) it is effectively en

[2017-12-08 17:57] SimonKrughoff commented on #33
@sethdigel are there more visits that can go into the sky background as a function of lunar altitude plot to see if John's assertion that it's an accident is right?

[2017-12-08 18:20] sethdigel commented on #33
@SimonKrughoff Not from recent versions of phoSim (>=v3.7.1).  We have a lot of DC1 sensor visits, but I don't think that would help, based on the sky brightness issue in DC1.

Regarding the odd linear feature in the particularly dark image that I posted above, I had a typo in the name of the file.  It is lsst_e_1668469_f2_R10_S00_E000.fits.gz and its location is /global/projecta/projectdirs/lsst/

[2017-12-08 18:26] SimonKrughoff commented on #33
@sethdigel I agree that DC1 runs are probably not useful.  We should certainly keep an eye on the sky brightness as a function of moon altitude when we are doing QA on the DC2 runs.

[2017-12-08 18:32] rmandelb commented on #1
@salmanhabib - thanks for the quick response.  Having this in GitHub is a little more convenient than slack since we all have to think it over!

If we were to go with 3 rafts, then we could avoid having too high a density even with SL and SN.  This would make the uDDF 15% of the main DC2.

Question: were you envisioning doing something like "WFD at NERSC, uDDF at ALCF" or is it likely to be more c

[2017-12-08 18:57] rbiswas4 commented on #1
@rmandelb I think what @salmanhabib posted is where the conversation stands. I plan to put some more work on DC2 to give a better estimate of overdensity if we go to 3 rafts this weekend and explore if we could do with lower epochs and higher rafts (keeping the total single chip jobs in control). I will also put material into the DC2 document.

The conversations I have had with @dannygoldstein sug

[2017-12-08 19:37] jmeyers314 commented on #22
I'm working on it.  So far I've succeeded in spinning up atmospheric simulations on the cori interactive nodes.  I'm figuring out how to submit non-interactive jobs as I type...

My immediate question is where should I place output on cori?  I think the right answer is in the scratch space, but currently I don't see anything in the $SCRATCH environment variables when spinning up interactive sessio

[2017-12-08 19:40] fjaviersanchez commented on #33
@cwwalter I don’t know if it’s just a fluctuation but you are right in that there should be no trend if the moon is below the horizon. Especially given that if the altitude is zero, the moon is deactivated. The only thing I can think of is that PhoSim needs the moon to have the correct background levels?

[2017-12-08 19:43] fjaviersanchez commented on #33
@sethdigel. Is it possible to repeat one of these exposures with the moon below zero but activated and see if it makes a difference?

[2017-12-08 20:17] katrinheitmann commented on #22
You do have a directory on scratch already, that's where you should put
stuff:

heitmann@cori08:/global/cscratch1/sd> cd jemeyers/
-bash: cd: jemeyers/: Permission denied

So I can't get it but you should :-)

Remember that scratch gets purged after a while so everything that is
important needs to be moved.

Hope this helps...

On 12/8/17 1:37 PM, Josh Meyers wrote:

[2017-12-08 21:15] jmeyers314 commented on #22
stuff:

Ah, perfect!  I do have access to that directory.  Thanks.

[2017-12-08 22:31] jmeyers314 commented on #22
First test submission looks like it succeeded.  I'll try scaling up to a multi-node test next.

[2017-12-09 00:10] sethdigel commented on #33
@fjaviersanchez I looked at the code and the phoSim reference guide some.  I can't say that I entirely understand the code, but I suspect that changing the one line that sets moonMagnitude to 10000 when moonalt < 0 may not be all that informative.  On closer look I see that, not surprisingly, the calculation is more complicated than that.  I took a quick look at [Krisciunas & Schaefer (1991)](http

[2017-12-09 01:32] salmanhabib commented on #1
@rmandelb  We could certainly do uDDF@ALCF. It makes sense to not split this smaller task into chunks to avoid multi-tasking overhead in people time. There's no issue with compute resources.

Would be good to get this activity started ASAP on a more solid footing with the SN folks. Suggestions welcome!

[2017-12-09 02:43] jmeyers314 commented on #22
Just submitted the first real job for this issue.  I decided to start by generating 10 PSFs per square arcmin over a field of view the size of LSST (350,200 PSFs altogether), with otherwise fiducial settings.

Looking at http://www.nersc.gov/users/computational-systems/cori/running-jobs/queues-and-policies/, it seemed like using the 2 hour max wall time setting was the easiest way to go, as this a

[2017-12-09 07:30] jmeyers314 commented on #22
Things seem to be running fine for now.

However, I see two potential stumbling blocks going forward.

1) I submitted the above job from my personal NERSC account, which, as I understand it, has an allocation of 100,000 NERSC hours.  So I'll need access to the desc pseudo-user account or an increased personal allocation to do much more.

2) Using job arrays and submitting 2 hour jobs to 1 node at

[2017-12-09 07:58] sethdigel commented on #33
Here's something a little interesting.  As part of the DC2-phoSim-1, Tom ran the same full focal plane visit (obsHistID 138143) using phoSim compiled with different compilers:  gcc and Intel.  Here's how the reported CPU times compare:

![cpu_comp_11_12](https://user-images.githubusercontent.com/6035835/33793791-23612432-dc73-11e7-87c0-5984c871ec13.png)

The points are the CPU times for the indivi

[2017-12-09 15:51] katrinheitmann commented on #22
Hi Josh,

The first one Richard has to enable.

For the second question, if I understand you correctly, there is an
example on the NERSC page:
http://www.nersc.gov/users/computational-systems/cori/running-jobs/example-batch-scripts/

under "Running multiple parallel jobs simultaneously":

|#!/bin/bash -l|

|02|

|03| 	|#SBATCH -p regular|

|04| 	|#SBATCH -N 8|

|05| 	|#SBATCH -t 12:00:00|

|06| 	|

[2017-12-09 16:06] richardxdubois commented on #22
I've raised Josh's quota to 1M hours (he has used 54k hrs so far). I'm hoping @TomGlanzman can tell Josh how to use the desc group account.

[2017-12-09 17:08] jmeyers314 commented on #22
example on the NERSC page

That looks like it may work.  Thanks.

I'm about to board a plane, but will give this a try later today.

[2017-12-09 18:39] jchiang87 commented on #22
Heather already sent via email to Josh and others the instructions for using the desc group account.  For the record, that information is also available via the NIM User's Manual:

http://www.nersc.gov/users/accounts/user-accounts/production-project-accounts/

[2017-12-09 20:03] jchiang87 commented on #16
This should have been closed by #49.  The [generateDc2InstCat.py](https://github.com/LSSTDESC/DC2_Repo/scripts/protoDC2/generateDc2InstCat.py) script has the desired functionality.

[2017-12-09 20:03] #16 closed

[2017-12-09 20:05] jchiang87 opened #50 "Update generateDc2InstCat.py script to produce object catalogs for imSim"

[2017-12-09 20:19] jchiang87 commented on #50
It looks like one just needs a subclass of `PhoSimDESCQA` that specifies the outputs (ICRS coordinates in particular) for imSim, i.e., similar to
https://github.com/LSSTDESC/imsim_deep_pipeline/blob/master/python/desc/imsim_deep_pipeline/catsim_utils.py#L46
@danielsf Can you confirm this please?

[2017-12-09 23:15] janewman-pitt-edu commented on #21
I agree we want to get the shape of the number counts right.  However, we also want to be sure to do that test only where counts are highly complete (i.e. at least 0.5-1 mag brighter than where counts turnover, and probably avoiding the bright end to minimize impact from stars).

Best,

Jeff

[2017-12-10 16:49] evevkovacs commented on #21
@duncandc @janewman-pitt-edu  @rmandelb @yymao Duncan has worked on a test and example plots can be seen  [here](https://portal.nersc.gov/project/lsst/descqa/v2/?run=2017-12-07_26&test=ApparentMagFuncTest) There are some normalization issues, but even so, we can now start to think about specifying validation criteria, such as defining a validation region to be used, and the required level of agree

[2017-12-11 17:08] danielsf commented on #50
@jchiang87

You are correct

[2017-12-11 20:24] drphilmarshall commented on #47
OK, I didn't add a Run 1.2 in between DR1.1 (at the winter meeting) and the DC2 Checkpoint explicitly, but instead pointed out that "additional test runs may have been carried out" in the 5 weeks following DR1.1. Here's the tex:
[code]

Are you happy with this timeline and these milestones, @cwwalter ? Should we move Table 7 up to the Executive Summary, to make sure everyone knows when things need

[2017-12-12 01:09] jbkalmbach commented on #46
Hey everybody,

Danny just posted a message about this on slack, but wanted to crosspost here to make sure people saw it. We're proposing a call about DC2 SL time domain inputs on Friday 1200 Pacific time after the general DC2 call. The purpose of this call would be to get organized on what codes we need to make sure we get the desired SL inputs into the DC2 data.

[2017-12-12 04:53] cwwalter commented on #47
@drphilmarshall and I discussed in person this afternoon.  I will put a reduced table in the executive summary focused on the users of the datasets rather than the the people producing them like the more extensive table 7.  I am still checking some details of table 7 with others.

[2017-12-12 05:05] #50 closed

[2017-12-12 05:21] salmanhabib commented on #47
I am worried about several aspects of the Table 7 timeline. It doesn't look realistic to me considering that we are already behind on several tasks (e.g., 8.1.2 far from done, yes?). Is there an actual to-do list for people that goes along with Table 7 so we can tell who is supposed to do what and by when? The task descriptions (not obvious from milestone names at least to me) are not written up i

[2017-12-12 05:38] yymao commented on #47
I share similar concern to Salman's. On the CS side, for example, while we did make much progress on the validation tests, I am not sure if we'll have a suite that is sufficient to warrant CS code freeze on 1/26.

[2017-12-12 07:16] drphilmarshall commented on #47
I *think* it should be possible to make the to-do list we're after in the
form of an epic issue for each item in Table 7 - the reason for making the
Table was to get a rough sense of when each thing would need to be
delivered. The schedule is driven by wanting to get DC2 Run 2 (the main
production run) done in time for the summer collaboration meeting: there's
a bit of contingency there, but not m

[2017-12-12 14:25] johnrpeterson commented on #33
although it should be a little bit slower, it might not be as significant as these plots show.  the reason is that it is only slowing down a few bright stars, so if you look carefully you may realize you just have one thread lingering after the other 7 complete or something like that.  then when you fully load the node with a few dozen phosim's simultaneously, the overall slowdown probably should

[2017-12-12 15:24] evevkovacs commented on #47
The main pieces missing from the validation tests are validation criteria for each of the tests (ie are the catalogs meeting the requirements). For this, we need feedback from the working groups. We are continuing to develop more tests, and as these become available, more criteria will have to be set by the WGs. We have a XWG session planned for February meeting on this topic, but if DC2 productio

[2017-12-12 15:39] yymao commented on #47
@drphilmarshall: Seconding @evevkovacs's point --- we need WGs' input to finalize the validation criteria and at this moment, I don't feel they'll be ready by 1/26.

Also, if we decide to use GalSampler for the production of cosmoDC2 (which will save some production time), we should first validate a GalSampler version of protoDC2 to make sure we meet all validation criteria.

In short, I think the

[2017-12-12 15:43] rmandelb commented on #21
@evevkovacs @duncandc - thanks for sharing these plots.  Apologies if I am missing where to find this information, but what is each curve?  (i.e., which is validation dataset vs. the simulation we are validating, and why does one plot have 3 curves but the other plots have 2 curves?)

Is there anything I can help with to try to track down normalization issues?  For example, Duncan, if this comes f

[2017-12-12 15:49] yymao commented on #21
@rmandelb the one with 2 curves + data points is the *summary* plots (i.e., overplotting all catalogs), and other plots are just for individual catalogs (i.e., no overplotting other catalogs) --- the contents are the same though.

Maybe you can help reviewing [this notebook](https://github.com/duncandc/descqa/blob/descqagen/descqagen/app_mag_func_test/notebooks/HSC_app_mag_func.ipynb) @duncandc pu

[2017-12-12 16:02] duncandc commented on #21
As for the normalization, I will check it against @rmandelb 's previous calculation.

Is there a better way to estimate "error bars" on N(<m) than back-of-the-envelope estimates?  Asking for O(10%) agreement seems arbitrary to me.

[2017-12-12 16:03] rmandelb commented on #21
I'm happy to review the notebook and PR.  Some cosmetic updates that would be helpful for people who look at this test:

-  the plot should say which is validation data and which is the sim
- the summary plot should say which sim is which
- should have an axis label for the horizontal axis that says what band is being shown
- it would be helpful to display number densities in number per square arc

[2017-12-12 16:08] rmandelb commented on #21
@duncandc - thanks for checking against my previous calculation, that will be helpful.

The statistical uncertainty on the N(<m) due to number counts alone is very small given the area of the HSC survey and the sims, while systematic uncertainty due to e.g. whether we've defined the samples in totally consistent ways in data and sims is larger and hard to quantify, but roughly speaking can give or

[2017-12-12 18:41] evevkovacs commented on #21
@duncandc @rmandelb @yymao So to summarize a first pass attempt at validation criteria, we have:
1) Add a 10% systematic uncertainty to the HSC data points. (I would guess these are correlated, but we can ignore this for a first pass)
2) Check that the catalog data agrees within 20% ( so that's 20% + 10% added in quadrature) in the validation region 24 < i < 25
3) Check that the catalog data agree

[2017-12-13 01:23] drphilmarshall commented on #47
Thanks @yymao , thanks @evevkovacs ! Most helpful. Sounds like a better schedule could be to have the cosmoDC2 checkpoint (AKA the "CS Code Freeze") at the SLAC meeting, and then start cosmoDC2 production right after that successful review. That would get you an extra 2 weeks in January. The cosmoDC2 production time is an issue though: we can't start DC2 Run 2 production until the cosmoDC2 extraga

[2017-12-13 06:48] salmanhabib opened #52 "DC2 Storage Discussion"
It would be good to have a discussion of the DC2 storage issue here. Initial info was provided by Simon Krughoff and later discussions with Jim Chiang and Mike Jarvis were very helpful (I am using a lot of information below provided by Mike).

**Issue** There is a question of why the storage requirement prefactor is so large: 15X where X is the raw file size.

The explanation from Simon (paraphras

[2017-12-13 07:08] jchiang87 commented on #52
A couple of clarifications:  from looking at the DC1 data in

/global/projecta/projectdirs/lsst/production/DC1/DM/DC1-imsim-dithered

the image data in the calexps, coadds, etc produced by the Stack are stored as float32 not float64, so that explanation for the initial factor of two wrt the raw data is incorrect.   BTW, the mask plane data are int16 and the variance plane is float32, (assuming tha

[2017-12-13 07:12] salmanhabib commented on #52
@jchiang87 Ah, ok, good catch on the initial factor of two. I had not assumed any compression, but the typical lossless compression factor should be as you say.

[2017-12-13 16:10] cwwalter commented on #52
We did use the calibrated exposures in our DC1 work for several things.   We want to see how things are working on an exposure by exposure basis, not just the co-adds and we anticipate using them again.  That is also where you grab the calibration info from etc.  For algorithm development I think it important to have them.

For the warped exposures: I agree mostly these aren't used.  We think they

[2017-12-13 16:11] cwwalter commented on #52
FYI I found the conversation in slack where we discussed the directories.  I did a diskuse check of the directories that looked like this:

[code]

Go here to see more:

https://lsstc.slack.com/archives/C2M6H2LAX/p1501867673418744

[2017-12-13 16:19] salmanhabib commented on #52
I asked Rachel to point the relevant science WG folks at this discussion to see who wants what kept (and at what level of accuracy). Meantime we should think about the data reduction layer implementation issue.

[2017-12-13 16:22] cwwalter commented on #52
There is now the ability to do compression on the fly in the butler, so some work on this is already happening but I'm not sure of all of the details.  We can find out more from the DM people.

[2017-12-13 19:19] cwwalter commented on #32
@EiffL can you give us a status update on this?  We need to decide whether we will include this for DC2.  Can it be ready, and if so are you willing/interested in doing the work or would we need to find someone else?  Thanks!

[2017-12-13 19:53] cwwalter opened #53 "Check off sensor light is working properly in the pipeline"
In #5 @johnrpeterson and @egawiser discussed not making a sensor visit list to trim unwanted visits but rather trimming the instance catalog.  This was tried by @TomGlanzman and he had some issues with minsource not being respected. This might be due to the "deconstructed" phosim being used.

This is a reminder to make sure that it works.

Also the LSST-Galsim code interface needs the equivalent m

[2017-12-13 19:54] cwwalter opened #54 "Choose WFD survey field center"
For DC1 this was done by @humnaawan, @egawiser and the LSS group.  As far as I know we do not yet have a DC2 field location.

A separate question is where if at all the DDF sits inside of the WFD survey.

[2017-12-13 19:56] cwwalter commented on #5
@rmjarvis (I think) suggested we should do chip level dithers for the DDF.  Assuming that we kept the rotational dithers the same (one after each filter change) could this be accomplished by dividing the dithers already calculated by @humnaawan and @egawiser by a constant factor?

If no, I believe a new after burner column will need to be added to the minion database for the DDF proposal.

[2017-12-13 20:23] TomGlanzman commented on #33
This morning a discussion about phoSim instanceCatalog generation got started, some details of which should be preserved.  The upshot is that the current scheme is not a good match to a large production on cori-knl.  Various idea are being discussed.   Below is the entire thread for reference.
------------------------------------

On 12/13/2017 12:16 PM, Scott Daniel wrote:
I agree, Yao.  That mas

[2017-12-13 20:28] cwwalter commented on #31
Hi All,

This issue is closed but I just wanted to check on something: I know these ELGs are not going to be in the image SEDs and we can add lines based on the continuum re: the papers above.  But I am a bit unclear on the mechanics of how these checks will work for the catalog only work.

Will the GCR return them with an option turned on so the PZ group can use them but not when they are interfa

[2017-12-13 20:30] cwwalter commented on #31
(BTW: The thing that got me thinking about this was wondering if we should include this as a feature in table 1. of the executive summary of the planning document).

[2017-12-13 20:31] yymao commented on #31
I guess we can save two sets of SEDs, one with and one without the ELGs? @evevkovacs?

[2017-12-13 20:34] cwwalter commented on #31
Currently the table says "emission-line strengths are computed in post- processing."

[2017-12-13 20:37] yymao commented on #31
I believe *post-processing* is that sentence is still *before* the step when the protoDC2 extragalactic catalog is written to disk.

[2017-12-13 20:38] cwwalter commented on #31
Right exactly what this means is what I am confused about / trying to understand...

[2017-12-13 20:40] yymao commented on #33
What I learned in that giant thread ---
- We need to be able to access the catalogs in a low-memory overhead fashion.
- For now, we can probably achieve what by improving [this module](https://github.com/LSSTDESC/gcr-catalogs/blob/master/GCRCatSimInterface/DatabaseEmulator.py). I think @danielsf and I will start to make this change.
- For full DC2, we either need to use a database, or break the ca

[2017-12-13 20:41] yymao commented on #31
@evevkovacs should chime in but I think it means that after galaxies are painted by the SAM, they then add emission-line strengths, and then save everything as a file to disk.

[2017-12-13 20:45] TomGlanzman commented on #33
@yymao It would be good, for the sake of provenance, to know exactly which version of that catalog was used for any given run.  A publicized tag of gcr-catalogs would probably suffice.

(Also, I can override the default, proto-dc2_v2.0, if necessary.)

[2017-12-13 20:45] danielsf commented on #33
@yymao Could you please take a stab at fixing the CatSimInterface as we described?  I have a lot of other work that I need to focus on this week.  Thanks.

[2017-12-13 20:49] danielsf commented on #53
It does not currently exist

[2017-12-13 20:52] cwwalter commented on #53
Thanks.

[2017-12-13 20:55] evevkovacs commented on #31
@cwwalter  @yao Yao is correct. The emission lines are added in post processing after the Galacticus simulation and the information is available in the protoDC2 catalog. See [here](https://portal.nersc.gov/project/lsst/descqa/v2/?run=2017-12-04_19&test=ListQuantities) for a list of the native quantities available in the catalog.

[2017-12-13 20:57] cwwalter commented on #31
OK thanks.  This is the same catalog that CatSim uses but it just doesn't use those variables?

[2017-12-13 21:01] yymao commented on #31
@cwwalter yes, I think so

[2017-12-13 21:05] EiffL commented on #32
Yes, the proof of concept seemed conclusive. I can easily add this as an option into GalSim (~1-2 days worth of work). It can definitely be done for DC2 and I'm happy to implement and test it.
I just had a look at the DC2 planning document, I don't see any specific plans for the galaxy models to use.

[2017-12-13 21:10] cwwalter commented on #32
Great! I've assigned you.

Well we get a set of sersics for the bulge and disks and associated SEDs from the in-painting process.  That is the only "specific plans for the galaxy models".  You work for the imSim simulation would make the morphology of those galaxies more realistic.  Or did I not understand what you are asking?

[2017-12-13 21:14] EiffL commented on #32
Sorry, I didn't actually phrase my thoughts as a question. I meant, I don't see a specific section on galaxy models used for image simulation in the planning document, do we want one for Friday ?

[2017-12-13 21:17] cwwalter commented on #32
Oh, I see..  No it doesn't have to be done by then. I will add this to the table.  If you start something short that explains what you plan to do that is enough for now.  Then, you can fill it out later with the details.  It would be good if you are there on Friday to answer questions about it though.

[2017-12-13 21:23] EiffL commented on #32
Ok great, no problem.

On Dec 13, 2017 4:17 PM, "Chris Walter" <notifications@github.com> wrote:

[2017-12-13 21:36] yymao commented on #33
@danielsf sure.
@TomGlanzman I'll let you know when I finish the change, hopefully by tomorrow...

[2017-12-13 21:43] cwwalter commented on #33
Can someone send me that email (or reformat it somehow)?  Because of the way the wrapping is working it is basically impossible to read here...

[2017-12-13 21:47] cwwalter commented on #33
Yao sent it to me... no need for more copies...

[2017-12-13 21:51] cwwalter commented on #33
So that I understand:  One of the constraints here is that you have decided that the job the produces the instance catalog has to be the same one that runs the phoSim instance correct?

[2017-12-13 21:59] TomGlanzman commented on #33
@cwwalter I assume that last question is for me?  So, not quite.  The first workflow batch job creates the instanceCatalog, then runs phosim.py to the point where it attempts to submit condor jobs then quits, followed by a bit of bookkeeping.  This job is composed of single-threaded computation.  In general, it will run on a KNL node where a lot of other jobs are running, so memory consumption is

[2017-12-13 22:11] cwwalter commented on #33
Right, sorry... So by "job" I mean it all runs together on the same processor.  Could you make the instance catalogs on a haswell node ( I assume this step is pretty fast) and then copy the file to the memory space that looks like a disk on the KNL side (sorry I can't remember what this is called) and then run the raytrace on KNL?

[2017-12-13 22:26] salmanhabib commented on #33
I am surprised that reading a 40GB file is a bottleneck. It should not be -- we should look at how the IO is being done.

As to the second question, how many individual compute jobs are needed to generate the instance catalog?

[2017-12-13 22:29] evevkovacs commented on #31
@danielsf  Scott should confirm, but as far as I know, CatSim does not use the ELG information as yet. CatSim may expect that information to be included in with the SED, in which case, there may be additional work to be done here. Scott wrote a module to take the SED information supplied by Galacticus and fit it to CatSim's SED template library. Including ELG information in that fit may be a refin

[2017-12-13 22:29] cwwalter commented on #33
That's why I asked about this feature I remembered you and Salman and Heather explaining. I thought there was some on chip memory that acted like a fast disk. I was asking if you could stage the file there.. Or is it too small?

[2017-12-13 22:36] salmanhabib commented on #33
There's a burst buffer on Cori that can help speed up IO, but even without it we should be ok. (I would avoid the BB for now if we don't have to use it -- another thing that can go wrong.)

[2017-12-13 22:41] evevkovacs commented on #33
@TomGlanzman  @yymao  Re the issue with using an out of date version of protoDC2: Tom, are you using the latest version of GCRCatalogs? Lats week, Yao implemented version control for both the catalogs and the reader to tell the user if they are using the latest version.  You should switch to that.

[2017-12-13 22:50] danielsf commented on #31
The CatSim SED library to which we are fitting does not have emission lines, so I'm not sure how to incorporate ELG parameters and ultimately pass them to PhoSim (recall that PhoSim expects there to be file on disk representing the (wavelength, flux) grid of the SED for each source).

[2017-12-13 23:14] cwwalter commented on #31
That's OK.  We aren't planning on doing this for the image simulations now.  This ELG studies will be catalog only. I just wanted to know how that would work.

[2017-12-13 23:20] TomGlanzman commented on #33
@cwwalter Yes, we could experiment with the burst buffer, but as is written up [here](http://www.nersc.gov/users/computational-systems/cori/burst-buffer/performance-tuning/), whether there is a net benefit depends on the details of the I/O.  But how to characterize the I/O?  The gcr-catalogs authors might wish to chime in.  Also @MustafaMustafa might wish to comment on whether there are specific t

[2017-12-13 23:26] TomGlanzman commented on #33
Update on **instanceCatalog generation**: after moving the 40GB catalog from GPFS to Lustre, the elapsed time to run the same config dropped from 103 min to 94 min.  The time on cori login remains at 14.5 min.

The memory high-water mark remains at just above 8 GB.

Note to @cwwalter - Our current workflow system should allow running different steps on different architectures.  This is a mode with

[2017-12-13 23:41] cwwalter commented on #33
@TomGlanzman Wasn't there something other than the burst buffer where we trying to put our software when the startup time was so slow?

[2017-12-13 23:44] drphilmarshall commented on #54
I'd suggest we choose a DDF field position from the OpSim database, and
then select WFD visits around it. Why not the Twinkles field? (Extended
Chandra Deep Field South, RA: 03h 32m 30s Dec: -28d 06m 00s)

There are risks associated with DDF field placement:

* If the over-density of time-variable objects is a problem for the
analysis of the WFD visits, we need to be able to recover from that.

*

[2017-12-14 00:03] TomGlanzman commented on #33
@cwwalter There are several methods recommended by NERSC:

1. Avoid r/w GPFS and use Lustre
2. Use the r/o GPFS in /global/common/software
3. Use the burst buffer
4. Use a container

You may be referring to item 2.?  I have heard (and I do not mean from DJT) that 1. > 2.

[2017-12-14 00:08] cwwalter commented on #33
Yes, I think I was remembering 2.

[2017-12-14 01:43] rmandelb commented on #52
@salmanhabib - I am more than happy to point people at this thread and make sure we get some feedback (I would target people who I know have some particularly demanding analyses in mind) but is there some place that lists what exactly are the things that we should consider not keeping?  Reading through the thread I see references to sizes of the following:

- calexp (calibrated exposure),
- warp (

[2017-12-14 01:54] jchiang87 commented on #52
Groups like SN and SL will have some interest in keeping the calibrated exposures around since they may want to do their own flux extractions to get better light curves than what the standard DIA processing provides.  We can reduce the storage of the calibrated exposures by just keeping smaller postage stamps of the fields for the time variable objects, but this would require software development

[2017-12-14 04:28] fjaviersanchez commented on #54
@drphilmarshall I think that putting the uDDF is a good idea and it looks like that field is far from the galactic plane so for WL and LSS the stellar contamination and extinction should be low and I guess that for DC2 is fine to have those conditions. @slosar showed interest in having some sort of higher-than-average extinction to play with it while we were preparing DC1. Is this something that y

[2017-12-14 05:53] salmanhabib commented on #52
@rmandelb We did not want to drop the mask and variance planes, just to compress them (they ought to be highly compressible). No one has indicated a requirement for keeping warp so far.

[2017-12-14 05:59] cwwalter commented on #52
I suggested at least keeping a subset (say a patch) of them and the ability to bring others back from tape in patches.  It could be useful (for example) for people comparing algorithms where you are acting on the exposures individually with the co-add because otherwise they don't line up.

[2017-12-14 06:14] salmanhabib commented on #52
@cwwalter Is there a specific reason to keep the warp info? Which SWG wants this and why? We can always do special smaller runs later on for special tasks.

[2017-12-14 06:58] drphilmarshall commented on #1
@rbiswas4 @dannygoldstein  I updated the DC2 plan document with the 3-raft design for the uDDF, here's what Table 3 ("Cadence and Survey Options") now looks like:
[code]

Notes:

* The overall lens density would be less than that in Twinkles (0.4, compared to 1, per sq arcmin). These seem OK to me given your stated required yields, Danny.

* We'd need a 6-times-higher than natural rate to get the

[2017-12-14 13:30] rmandelb commented on #52
Hi Salman -

Good, this is consistent with my thinking.  Now I'll ping a few people who I think might be able to say exactly what they need for already-planned analysis.

[2017-12-14 13:36] rmandelb commented on #52
@esheldon @rmjarvis @joezuntz -

For the DC2 simulations, there is some question of what intermediate data products created during the DM processing need to be saved once the DM processing is complete in order to enable the planned DC2 analyses.  We assume we will keep the coadd, and some compressed version of the mask and variance plane.  What about the calexps (calibrated exposure) and warps (wa

[2017-12-14 13:37] rmandelb commented on #52
@rbiswas4 @DominiqueFouchez -

For the DC2 simulations, there is some question of what intermediate data products created during the DM processing need to be saved once the DM processing is complete in order to enable the planned DC2 analyses. We assume we will keep the coadd, and some compressed version of the mask and variance plane. What about the calexps (calibrated exposure) and warps (warped

[2017-12-14 15:35] katrinheitmann commented on #52
@rmandelb @salmanhabib All, great to see that all this information is collected! When you have arrived at a good point to summarize this, there is Section 10 in the planning document where this could all go. I think it would be very helpful to put it there and we can point anybody interested there to find a summary. Thanks!

[2017-12-14 15:36] rmandelb commented on #21
@yymao @duncandc - I wanted to check something: is it OK if I wait to review the PR until after the changes I already suggested get implemented?  I would prefer to just review it once, if that works for you.  Ping me once the changes are made and it's ready for review?

[2017-12-14 15:38] duncandc commented on #21
@rmandelb, sure thing.  I will ping you when I have made those changes.

[2017-12-14 15:39] rmandelb commented on #52
@katrinheitmann - sounds good.  Since I've deliberately pinged people who are planning some of the more data-intensive analyses but haven't pinged everybody (which I think would lead to chaos at this stage), it is definitely a good idea to write up what we tentatively agree on based on the needs for these applications, and then ask for comments from the other analysis WGs.

One more thing: it's po

[2017-12-14 15:40] drphilmarshall commented on #1
Regarding re-use of hosts: Bob Nichol popped up in the strawman design slides to offer this:

So this could make re-using host galaxies difficult, as the SNe pile up in them. We'd clearly need to pay attention to this when preparing the instance catalogs, @rbiswas4 - and perhaps reduce the number of SNe from 25k as a result. How few SNe could we get away with, Rahul? What's your current assessment

[2017-12-14 15:40] yymao commented on #21
@rmandelb yes --- and JFYI, we (the DESCQA team) encourage early PR so people can see the progress. Thus, it is totally OK to defer review under the PR submitter says it's ready for review!  In the meantime, leave comments and suggestions in the PR (i.e., not here) would be very helpful :)

[2017-12-14 15:41] DominiqueFouchez commented on #52
@rmandelb, @rbiswas4  For SN, in order to redo a photometry we need all the info of the calibrated exposure (calex, variance, mask). We need also all the difference images. A priori no warps if we can redo it (to undertand any astrometric problem). This is true also for uDDF.

[2017-12-14 16:14] TomGlanzman commented on #33
Thanks to @yymao the gcr-catalogs package has reduced its memory footprint from ~6.2 GB (max res) down to ~1 GB.  This problem is solved.  Getting very close to having a working config.

Note that NERSC (cori) is down today until 20:00 PST for maintenance.

[2017-12-14 16:51] SimonKrughoff commented on #52
Just to talk to some of the conversation here.
* I believe we can turn off the saving of the `icExp` products completely, so it wouldn't even require an afterburner to remove them.
* I'm not sure what processing people want to do on postage stamps.  It's possible, but many algorithms require some knowledge of the larger context in which a single objects reside.
* A possible reason to keep the warp

[2017-12-14 16:57] cwwalter commented on #52
Well.. for algorithm work we need the calexps.  The question is whether we also need the warps. I'm not positive but when I tried working with DC1 and wanted to see the exposures that went into a co-added patch with the butler what you get is the list of warps (because that is what is used to make it).

So, Simon and I and others talked about this before.  It isn't prohibitive to just remake them

[2017-12-14 17:21] rmjarvis commented on #52
I don't really understand this comment.  Yes, we should use fpack, but that already does separate compression for each HDU in the fits file.  So why would we need to pull apart the image to do this.

Also, I'm frankly surprised that compression isn't just being done as a matter of course by LSSTDM.  It just seems gratuitously wasteful to not at least to lossless compression.  And lossy Rice compre

[2017-12-14 17:29] SimonKrughoff commented on #52
I just couldn't tell by quickly scanning the thread what the proposal was.

Lossless compression is now on by default, so this compression discussion may be moot.  See: [this RFC](https://jira.lsstcorp.org/browse/RFC-378) and [this implementation ticket](https://jira.lsstcorp.org/browse/DM-12599) for discussion.

[2017-12-14 17:36] rmjarvis commented on #52
Probably not moot.  But it's at least improperly informed.

We should look at what the actual file sizes are with the current default compression that you guys are now using rather than what we saw for DC1 (where I guess there was not compression).  Then we can evaluate whether moving to lossy compression for some files is warranted.

[2017-12-14 17:53] cwwalter commented on #52
Correct.. no compression for DC1 (it wasn't an option then). After the fact the files were compressed so that they could be put to tape (I believe with bzip).  Mustafa could tell you what the achieved factor was if it was relevant.

[2017-12-14 18:10] TomGlanzman commented on #19
Getting back to the issue of the phoSim command file to use for DC2, I am trying to keep notes on how the discussion is evolving.  My current guess, based on DC1 with recent updates follows.  Note that it does not include all of @cwwalter list as I am not certain which combination of phoSim commands corresponds to his list - perhaps @johnrpeterson can help with the association?

`
# Enable centroi

[2017-12-14 19:47] SimonKrughoff commented on #52
Fair enough.

I will also say that Robert Gruendl is currently leading a working group looking at lossy compression in the context of LSST data storage.  I'm not sure where that stands, but can ask around.

[2017-12-14 20:27] drphilmarshall commented on #1
PS. @rbiswas4 one last thing: have I got the wording right regarding the labeling of visits in the DDF sky region? I want to say that some of the DDF visits are _also_ labelled WFD - such that if you select just the WFD ones, you get a uniform WFD-depth survey covering that sky patch? Great if you can check that the text in Table 3 makes sense in this regard... Thank you!

[2017-12-14 20:50] rbiswas4 commented on #1
@drphilmarshall

I might not be understanding you exactly, but if I am: yes!
More mechanically, It is true that there are DDF visits that are also WFD in minion. The plan is to treat these duplicates as bonafide WFD, with WFD dithers etc.  Any changes for enhanced cadence for uDDF will happen for the DDF visits that are not WFD also. Thus any property of minion WFD is being preserved by constructi

[2017-12-14 21:40] rbiswas4 commented on #1
@drphilmarshall

Regarding re-use of hosts: Bob Nichol popped up in the strawman design slides to offer this:

"High-z SLSNe can last hundreds of days. We see some DES SLSNe exist of multiple (4.5 month) seasons."

This is true, but (a) we don't have SLSNe for DC2. They would be good though, undoubtedly!

Second, while SLSNe have those properties, they are extremely rare: There is a reason they ha

[2017-12-14 22:12] rmandelb commented on #30
Apologies if I am missing something - I am traveling back home today and my ability to keep up with e-mail and slack etc. is not all there.  There's an epic here and there's an epic in the descqa repo with a similar name.  What is their relationship / how do you envision they will be used?

[2017-12-14 22:31] katrinheitmann commented on #30
Sorry, I am trying to clean this up --

The #30 was introduced a while ago following the idea that we need to
track what is now table 7 in planning document. With that epic, a few
validation tests were introduced in the DC2_repo. Yao decided that it's
better to have the tests in descqa instead of DC2_repo, so the issues
got duplicated.

Since Yao is doing a great job in managing the validation iss

[2017-12-14 22:35] awborgland commented on #30
Looks good. It still contains two DC2_Repo issues (in addition to the descqa issues). Are you planning to keep them? I don't mind - just curious.

[2017-12-14 22:52] aimalz commented on #18
I've been thinking about what tests we can run to validate the p(z)s obtained from the strategy proposed last week, since they won't be coming from a forward model.  I think we'd have to draw redshifts from the PDFs in the catalog (which are p(z | [colors or magnitudes])) and check that the distribution of colors/magnitudes as a function of redshift (which are p([colors or magnitudes] | z)) and st

[2017-12-14 23:08] katrinheitmann commented on #30
not done yet -- get interrupted here all the time. :-) And already got
an email from Rachel about "what's going on with those epics" ... Better
to do this late at night when nobody is watching ;-)

I wanted to close the two issues and just make a note that they are in
the descqa issue now. Give me a couple of minutes ...

On 12/14/17 4:35 PM, awborgland wrote:

[2017-12-14 23:23] katrinheitmann commented on #21
Closing this issue now since it is taken care of in descqa repo: https://github.com/LSSTDESC/descqa/issues/7

[2017-12-14 23:23] #21 closed

[2017-12-14 23:23] katrinheitmann commented on #20
Closing this issue now since it is taken care of in descqa repo: https://github.com/LSSTDESC/descqa/issues/10

[2017-12-14 23:23] #20 closed

[2017-12-15 00:06] jchiang87 opened #55 "What model of AGN variability will we use for DC2?"
In this [comment](https://github.com/LSSTDESC/DC2_Repo/issues/17#issuecomment-344418050), Eve notes that the galaxy catalogs produced by the CosmoSims code have black hole mass and accretion rate columns.  In the subsequent comment, Scott says it will take some work to incorporate those parameters into a model of variability for the AGNs that CatSim would serve up.  However, table 2 of the [DC2 pl

[2017-12-15 02:17] humnaawan commented on #5
@cwwalter thinking of chip-level dithers as small dithers (i.e. on the scale of the chip size, as opposed to *large* dithers which are on the scale of the FOV; please correct me if I'm wrong), we can easily tweak the MAF Stackers to implement smaller dithers. Once we know what works, we can update the afterburner to write out columns for large dithers with WFD visits and small dithers for DDFs. I

[2017-12-15 02:48] cwwalter commented on #5
Right.

I meant we have FOV scale dithers centered around the center of the pointing.  We will be putting in a reduced focal plane for the uDDF (a few rafts).  So I was wondering if we could take our hexagonal dither pattern and just reduce the distance for each shift by a constant factor so that the pattern was the same but that it was spread over a smaller area.  That way we wouldn't need to mak

[2017-12-15 02:52] rbiswas4 commented on #52
@rmandelb @DominiqueFouchez @salmanhabib @reneehlozek

Unfortunately, I am not sure of the requirements we will have. But here is a first stab at this. Hopefully someone else can comment on this and we can start making progress.

First, I assume you are exploring the possibility of dropping these auxiliary products after running through the DiaObject creation pipeline (ie. Running Difference imagi

[2017-12-15 03:06] egawiser commented on #5
That would make perfect sense if the existing column was the dither vector.  But instead the existing columns are updated RA,DEC for the pointing after the random dither vector has been applied.  You could subtract to determine the dither vector, but since it's random, why not just pick a new random one with the desired expected amplitude and apply it to the central RA,DEC?

[2017-12-15 03:14] rbiswas4 commented on #54
I second the suggestion of the TWINKLES field as a location for the uddf.

I also agree that the over density of time dependent objects is a risk for the main survey, though I think this worry is perhaps overestimated (at least for SN). I think we need to be careful that this is not the case.

I don't know the latest dither plan, but one of the advantages of having it at the center is that SN will

[2017-12-15 03:31] salmanhabib commented on #52
One general maxim to keep in mind is that "compute is free" but storage is not. So it's fine to be able to recompute things later on provided the (subset of) data needed to do this is easily accessible.

[2017-12-15 14:00] rbiswas4 commented on #1
@drphilmarshall There is one point I forgot to address:

I was not planning on adding 25K core collapse separately. We can add the ones @dannygoldstein needs for the lensed supernovae and not add anything else from the SN group standpoint.

I would be happy to take a look at the galaxy sample for WL to address your concern, but I believe the number of SN is not a worry. (In reality the relevant qu

[2017-12-15 14:32] awborgland commented on #30
@katrinheitmann , I think I was multitasking with one too many tasks yesterday. Why didn't you just include the descqa Epic itself, instead of all the issues individually? That way you will automatically 'include' any new issues that are attached to the descqa epic. When you include an epic, you get an option of displaying all the issues in that epic so you will still be able to see all the underl

[2017-12-15 15:20] katrinheitmann commented on #30
I actually added the issues to the DESCQA epic -- I thought the idea is
to have issues underneath an epic? Then the DC2_repo epic just
automatically picked them up (in other words, I did not in fact added
the issues to the DC2_repo epic). Maybe what you are not "happy" with is
that in the descqa repo I added each issue to two epics now ...? I am
happy to undo that if that will still give us the bu

[2017-12-15 15:38] awborgland commented on #30
What I had in mind is

1/ Add descqa issues to descqa epic
2/ Add descqa epic (only) to corresponding DC2 epic

The advantage with that is that as more descqa issues are added to the descqa epic, the DC2 epic will automatically pick them up through the descqa epic (and people will only have to remember to assign an issue to one epic, not two, especially since assigning a descqa issue to the DC2 ep

[2017-12-15 18:55] drphilmarshall commented on #54
What if we put the uDDF region as close to a corner as we can without
losing any WFD image coverage? That shoudl still make the affected region
small compared to the main survey area, _if_ we need to excise it.

On Thu, Dec 14, 2017 at 7:14 PM, rbiswas4 <notifications@github.com> wrote:

[2017-12-15 19:30] rbiswas4 commented on #54
That was the *only* worry, so if we ensure that this is true, I would not care about the uDDF being in the centre. If such a configuration exists (have not checked), we can all go home happy!

[2017-12-15 20:21] yymao commented on #34
@katrinheitmann @cwwalter (hopefully this is the right place to ask this)

What's the status of the validation tools for the image simulations and the DM catalogs? Is there something similar to DESCQA that people can contribute their validation tests to? If not, would some of the components of DESCQA be helpful for preparing the validation tools for the images and DM catalogs?

[2017-12-15 21:15] dannygoldstein opened #56 "Strongly Lensed Transient and Galaxy Sprinkler"
In this epic we track the development of the strongly lensed transient and galaxy sprinkler, a software pipeline that will modify instance catalogs produced by CatSim to include strongly lensed supernovae, AGNs, and galaxies. These modified instance catalogs will be passed to the kind folks in the CI working group to generate images of the uDDF for DC2.

The principals on this project are

@rbiswa

[2017-12-15 23:34] cwwalter opened #57 "Evaluate the truth table code and consider qserve issues"
We may want to split this issue later (with a separate issue for the db) but, in DC1, the production of the the truth source catalogs that we use for analysis and were put into the dask data frames and sql database were extracted from CatSim.

The code to do this was written by @jchiang87.  The script lives here:

https://github.com/LSSTDESC/SSim_DC1/blob/ccad38c4ce097bb2d4241361c49dbcf6050f718b/s

[2017-12-15 23:34] drphilmarshall commented on #56
Sweet! Paging @jchiang87 from CI so they can follow along.

[2017-12-15 23:44] cwwalter commented on #57
Forgot to put in... Our current plan if possible is to try to supply both a qserve relational database and supply dask based data frames.

We can discuss more in detail here.

[2017-12-15 23:46] jchiang87 commented on #56
In turn, I'm pinging @danielsf since this mostly implicates CatSim.   We'll all need to coordinate everything in the instance catalog generation step of course.

[2017-12-16 01:45] salmanhabib commented on #57
Who is responsible for qserv?

[2017-12-16 02:04] salmanhabib commented on #34
@yymao We are working on setting up a formal testing framework for PhoSim. Some of it will be automated along the lines of nightly regression (also cross-platform) testing and some will be along the lines of validation you are thinking about (right now CCD test data and eventually camera data). It's too early to say if something along the lines of DESCQA will be needed  but if so, we'll be in touc

[2017-12-16 02:37] yymao commented on #34
@salmanhabib thanks! Good to know someone is taking care of testing the image generation.

As you pointed out, my use of the term "validation" was probably too general. Part of what I was wondering is how users (e.g., the Analysis WGs) can make sure that the image output or the DM catalogs fit their science needs.  I guess the answer can range from "they don't need to worry about the images at all

[2017-12-16 02:51] salmanhabib commented on #34
@yymao You are right we need to be more formal about this process with the SWGs as time goes on. Currently we are very resource-limited but hopefully we will get there (BTW, the answer is certainly not that "they don't have to worry"!). We should worry about everything there is to worry about ;-).

[2017-12-16 04:06] cwwalter commented on #57
Hi Salman,

I'm not positive where responsibility lies.  It is a LSST project and I think several of the main developers (like Fritz I think) are at SLAC now.  @jchiang87 has good contacts with them and can say more.

[2017-12-16 05:50] salmanhabib commented on #57
@cwwalter Ok, thanks, I guess @jchiang87 and I have to talk this over --

[2017-12-16 20:12] dannygoldstein opened #58 "Strongly Lensed Supernova+AGN, Host Galaxy, and Lens Galaxy Population Models"
Subtask of #56.

@dannygoldstein will provide @rbiswas4, @jbkalmbach, and @linan7788626 with OM10-style catalogs of lensed transient images, host galaxies, and lens galaxies.

Tagged folks, could you please let me know exactly what columns you require.

[2017-12-16 20:15] dannygoldstein opened #59 "Time-evolving SEDs of strongly lensed transients"
Subtask of #56.

Given lensed image catalogs from @dannygoldstein, @rbiswas4 will generate time-evolving SEDs of lensed AGNs and supernovae (Type Ia + CCSNe) that can be called by PhoSim (and imSim?).

[2017-12-16 20:18] dannygoldstein opened #60 "Modify instance catalogs to include images of strongly lensed transients"
Subtask of #56.

@jbkalmbach will provide code that modifies instance catalogs from CatSim to include lensed transient images from catalogs provided by @dannygoldstein.

[2017-12-16 20:19] dannygoldstein commented on #60
CC @jchiang87 @danielsf @mpwiesner

[2017-12-16 20:21] dannygoldstein commented on #55
Also relevant for #59.

[2017-12-16 20:32] dannygoldstein opened #61 "generate lensed images of strongly lensed transient host galaxies"
Subtask of #56.

Given catalogs from @dannygoldstein containing:

* Sersic parameters of SN and AGN host galaxies
* SIE parameters of corresponding lens galaxies (Is this sufficient @linan7788626? SIE is easiest for me to provide.)
* Angular offsets between host and lens galaxies

@linan7788626 will calculate fits postage stamps of lensed host galaxy light profiles that can be fed into PhoSim by @

[2017-12-16 20:36] dannygoldstein opened #62 "modify instance catalogs to contain lensed host galaxy images"
Subtask of #56.

Given fits images of strongly lensed host galaxies from @linan7788626 and modified instance catalogs containing lensed transient images from @jbkalmbach (see #60), @mpwiesner will produce "final" modified instance catalogs containing lensed transient images AND lensed host galaxies.

CC @jchiang87 @danielsf

[2017-12-16 21:46] rbiswas4 commented on #59
@dannygoldstein It will be good to define what is meant by lensed image catalogs. There are two sets of questions in my mind:
## Questions on how the populations are defined
1. Should these lensed AGN and supernovae live in host galaxies of specific properties?
2. Should these have anything in common with the AGNs and SNe that we are inserting. (ie we could imagine that some of them are being lens

[2017-12-18 17:37] danielsf commented on #55
It's an old joke that whenever I meet someone new at a meeting, they introduce themselves by saying "I have a better AGN variability model than you do"....

Currently, CatSim models AGN using the damped random walk model from MacLeod et al (2010; ApJ 721, 1014), which Zeljko gave us (Zeljko being MacLeod's PhD advisor).  This model is parametrized in terms of the structure function of the random w

[2017-12-18 17:40] danielsf commented on #59
Have we already discussed the fact that implementing a full time-evolving SED model will mean writing all of these SEDs to disk somewhere so that PhoSim can read them back in?  I know we did something similar for the supernovae in Twinkles, but we did not do that for DC1.  I just want to make sure that the CI group is aware of whatever temporary storage challenges this may pose.

[2017-12-18 17:40] jchiang87 commented on #55
In my previous life, I wrote a bunch of papers on AGN variability.  I don't claim to have a better model, but I can help sort out something that makes sense for DC2.

[2017-12-18 18:34] rbiswas4 commented on #59
@danielsf Good point. We can write the code, but scaling storage is important to consider too. I would just add that this is temporary (It needs to be on disk before PhoSim reads it, and need not be on disk after PhoSim is done). In principle, if we could also chunk them by time for SN, ie load only those SN which are within a time window of the visit being simulated. @jchiang87

[2017-12-18 18:54] salmanhabib commented on #59
Any storage request estimates, @rbiswas4 ?

[2017-12-18 19:57] cdfassnacht commented on #55
One thing that we may want to consider is that, if we have some model that
is not a random walk but is one that we think is OK, we may want to stick
in some sources with variability generated using that model.  I have no
idea if this is feasible, and it may make the complexity of the process too
high.  However, I worry when we are using the same model to generate things
(in this case light curves,

[2017-12-18 19:59] rmandelb commented on #55
Could we invert the problem?  That is, stick with data generated with one model, but then evaluate how well analysis codes that assume multiple models work?  Will that teach us as much as the process you described?   (or at least will it teach us enough for what we wanted to learn in DC2?)

[2017-12-18 20:08] TomGlanzman commented on #19
The actual commands.txt file (listed above) is in github and currently here:  https://github.com/TomGlanzman/DC2-phoSim-2/blob/master/NERSC/commands.txt  Please comment on the content in this issue.

[2017-12-18 20:16] jchiang87 commented on #19
I propose that we discuss the content of this file the same way we should handle any other code: make a branch where the new version of the file is introduced, issue a pull-request for that branch, and **in the pull-request** people can comment directly on the relevant lines with proposals for changes.  Since PRs (assuming the repo is configured properly) can only be merged after review, this prov

[2017-12-18 20:47] TomGlanzman commented on #19
Here is the PR to discuss the contents of the PhoSim commands/physicsOverride file:
https://github.com/LSSTDESC/DC2_Repo/pull/63

[2017-12-18 21:37] linan7788626 commented on #58
@dannygoldstein Hi Danny, as you know, I will be tied to something else at the beginning of January, but I can work on our project during the holidays. Therefore, I am wondering whether you could please send me a toy catalog (10 systems are enough)? So that I can kick off the work on my side asap. The below information should be included in the toy catalog, thank you so much.

- the redshift of th

[2017-12-18 21:50] linan7788626 commented on #61
Hi @dannygoldstein

SIE parameters of corresponding lens galaxies work for me. For the first product, let's just adopt SIE for now.

If you could please provide the Angular offsets between the point sources and the lens galaxies, it should be awesome, so that we can double check whether my calculation match that in the Sprinkler.

Previously, in the catalog from Bryce, the light profile of the unl

[2017-12-18 23:44] cdfassnacht commented on #55
Hi Rachel,

I'm not sure if your suggestion would address what worries me, since
presumably the codes that did better at handling the data generated by the
damped random walk model would be evaluated as "better".  However, all of
this may be moot for DC2.  Maybe it is fine to get something that does well
with damped random walk light curves now and then worry about whether that
paints us into a co

[2017-12-19 00:23] rmandelb commented on #55
That's true, they would be.  But that's not quite my point.  Consider two scenarios:

1. The codes that model the light curves as damped random walk do *drastically better* than the codes that model the light curves in some other way that we think is at least reasonably well-motivated.

2. The codes that model the light curves as damped random walk do *only slightly better* than the codes that mod

[2017-12-19 02:41] jbkalmbach opened #64 "Fix AGN SED redshift problem for DC2"
Cross-post of https://github.com/LSSTDESC/Twinkles/issues/459. Another subtask of #56.

In the draft LSST DESC note for Twinkles 1 I discovered a problem with the magnitudes of AGN SEDs where they were being calculated and matched with the rest frame SEDs instead of the redshifted SEDs. This needs to be fixed before using the sprinkler in DC2.

[2017-12-19 18:34] cdfassnacht commented on #55
Hi Rachel,

I hadn't thought about it that way.  What you say makes sense, so we
probably don't have to worry about multiple generative models at this point.

Ciao,

   Chris

On Mon, Dec 18, 2017 at 4:23 PM, Rachel Mandelbaum <notifications@github.com

--
Chris Fassnacht
Professor, Physics Dept.
UC Davis
1 Shields Ave.
Davis, CA 95616
+1-530-554-2600

[2017-12-19 20:13] cwwalter commented on #4
For the record this is what was decided for DC2 after discussion with DM, WGs etc etc.

The list we decided to turn ON was:

BF, Tree rings, Cosmic rays, bleeding, X-talk,

Also on: hot columns/pixels. Note: we will need to supply and an input defect mask to DM.

Also on: non-linearity/saturation. Note: we will need to supply non-linearity info to DM ourselves. The cannot measure it.

Off:

Fringi

[2017-12-19 20:13] #4 closed

[2017-12-19 22:59] TomGlanzman opened #65 "protoDC2 phoSim operations log"
This issue will log the progress of the protoDC2 phoSim image generation at NERSC.  This issue is not intended to be a venue for discussing phoSim configuration (see, for example, [here](https://github.com/LSSTDESC/DC2_Repo/issues/19) or [here](https://github.com/LSSTDESC/DC2_Repo/issues/33)).
A few technical details about the workflow itself can be found [here](https://confluence.slac.stanford.ed

[2017-12-20 05:05] rmjarvis commented on #52
To get back to this (on prompting by Rachel...), my best guess from the WL perspective is to keep the original (int, not DM-expanded into float) images, the coadds, and I think the calexps.  Also (obviously) all the metadata like WCS solutions and zero-point values.

I don't really know the LSSTDM lingo, but I'm assuming calexp is bias, dark, and flat-corrected, which is what we want.  Probably al

[2017-12-20 06:01] TomGlanzman commented on #65
Production has started, although it is not unlikely a problem will be discovered to cause a halt and restart from the beginning.  A last minute decision: disable the phosim amplifier file output due to problems with those files.

[2017-12-20 10:07] boutigny commented on #52
@cwwalter icExp are related to the CharacterizeImageTask and their output can be turned off. In fact I think that the default is to not write them out. Otherwise, my experience is that calexps are useful and warps are useless.
For instance, regarding calexps, @esheldon should confirm, but I am almost sure that they are necessary to produce meds files. They are also very useful to debug and underst

[2017-12-20 13:38] esheldon commented on #52
We do want the calexp for making the MEDS files used for various codes such as the metacalibration shear code, BFD shear code, and ngmix/MOF photometry and deblending codes.  However, since we now actually plan to make "per object" coadds, the input could be the images used to make the standard coadd (called the warps?) since we would have to create those in any case.

If the above are easy and fa

[2017-12-20 14:14] boutigny commented on #52
Interesting ! So it means that it could be useful to keep the warps. They are not very cpu intensive to create but the I/O rate is pretty high. I just had a look to the HSC processing at IN2P3, 15 patches (4000x4000) are processed in 3.5 hours (wall clock) with a ratio CPU/Wall ~4%.

[2017-12-20 14:45] salmanhabib commented on #52
@boutigny I am surprised you ran into problems with lossless compression. Is this something to do with fits, in particular?

@esheldon and @rmjarvis can you two please come to a consensus on warps yes/no? Thanks!

[2017-12-20 15:49] esheldon commented on #52
We will I think want to use warps, so it is a technical question if we can generate them fast enough.  I think from Rachel's post it seems they are quite slow to generate, so we will I think want to store them.

[2017-12-20 15:52] esheldon commented on #52
actually I think she must not have posted that here:  I think she checked some log files and saw that during generation the process was i/o bound and overall very slow.

[2017-12-20 15:56] rmandelb commented on #52
Phew, I was wondering if I was posting in here in my sleep or if perhaps I have an imposter.  (I actually didn't say that at all anywhere...)  Then I realized you may be referring to Dominique's post above...?

[2017-12-20 16:02] esheldon commented on #52
Yes, sorry, that was from Dominique

[2017-12-20 16:15] boutigny commented on #52
This is from the actual Dominique :-) The time to produce the warps is not negligible but not that long. Then it depends if you expect to have to reproduce the warps many time in which case it is certainly better to keep them on disk. If you need them in a few occasions only, then I would recommend to get rid of them and to reproduce them when needed.
But reproducing the warps supposes that you ha

[2017-12-20 16:30] rmjarvis commented on #52
Given that the warps are relatively easy to make from calexps, but not vice versa, I suggest we keep the calexps and not the warps after the coadds are made.

If we can do both kinds of coadds at the same time, then we probably never need to remake the warps.  But even if the per-object coadds are done later than the detection coadds, making the warps should be a relatively small portion of the ti

[2017-12-20 19:02] cwwalter opened #66 "Check configuration inputs for Run 1.1"
In PR #63 we worked on a PhoSim instance catalog that is now being tested in Run 1.0.

Before we start R1.1 there are various configuration options that we should review and check to make sure the current values are consistent with our most recent understanding.

Examples include: tree rings parameters in phosim which are in the silicon.txt file, x-talk and hot pixel parameters etc., etc

Perhaps

[2017-12-20 19:10] cwwalter opened #67 "Check that PhoSim e2adc output format is consistent with current devices"
It sounds like the pixel geometry some readout directions etc that were put into PhoSim in the past may not now be totally consistent with the geometry of the real devices in the test stands we have from the vendors.

@johnrpeterson Can you help us make any changes to the conventions so we can make the amplifier files for 1.1?  Do you have anything in your internal tracking system for this issue n

[2017-12-20 20:10] johnrpeterson commented on #66
i'm not sure what this is specifically about.  this sort of thing is periodically reviewed in the project, and gets updated in every release.  if you find something specific, certainly issue a phosim ticket.

[2017-12-20 20:12] johnrpeterson commented on #67
there isn't any open tickets about this.  i remember fixing something in this area from @jchiang87 more than a year ago.  please open a phosim ticket, if that's not true, if there is something wrong and then i'm sure we can patch it.

[2017-12-20 20:18] cwwalter commented on #66
For example, we have new recent measurement from the SAWG for the tree ring parameters.  Should we (or have you already) updated the PhoSim configs?

I want to check off on everything before we burn > 10M hours...

Having a summarized list would be good.  It sounds like you might have a list of recently updated parameters and what you changed?  Could you share it?  That sounds like it might really

[2017-12-21 00:46] dannygoldstein opened #68 "Sprinkler Examples"
Subtask of #56.

On a sprinkler-focused telecon Friday 12/15/17 I promised @rbiswas4, @jbkalmbach, and @linan7788626 small examples of glSN+host+lens catalogs that could be used for debugging purposes.

I am diving into catalog production now and should have examples for you soon.

[2017-12-21 03:10] TomGlanzman commented on #65
The NERSC queues are not behaving nicely.  A single-node 24-hour job submitted on Monday morning is now scheduled to run tomorrow at the earliest.  To jump-start the process, a 10-node **8-hour** KNL Pilot was submitted this afternoon and, lo!, it has started.  There are now >300 raytrace processes running.

A question arose earlier about how long it might take to complete the ~8000 visits in prot

[2017-12-21 14:58] johnrpeterson commented on #66
there are hundreds of changes with each release, Chris.....

but for tree rings, do you have the relative intensity compared to what was measured by Andrei before (~1 year ago)?

[2017-12-21 15:35] nomerot commented on #66
Hyeyun updated on the ILT tree rings at the last SAWG meeting https://confluence.slac.stanford.edu/display/LSSTDESC/July+-+December+2017, she also provided txt files with TR amplitude for a few ILT sensors as examples. e2v TRs are negligible. John, could you remind how you define the TR profile, was it a superposition of a few sines?

[2017-12-21 18:22] TomGlanzman commented on #65
# Thursday 21 Dec Update
Some success over the past 12 hours: 1865 sensor-visits completed (mostly on KNL) using the latest phoSim command file (ref #63).  Based on these runtime performance statistics, a first estimate of total protoDC2 resource and time consumption may be made.

- The mean wall-clock time for the KNL raytrace step is observed to be ~270 minutes (with a tail extending to 470 min)

[2017-12-21 21:34] rmandelb commented on #52
My reading of the comments above is that the SN image-based analysis and a limited subset of the WL analysis may need the warps, but (a) this isn't guaranteed (at least for SN), (b) there is a decent amount of work they can do without the warps, (c) we can regenerate them from calexps (as Dominique B said the process is a bit i/o-heavy but not super expensive).  In contrast, the calexps are needed

[2017-12-21 22:18] katrinheitmann commented on #66
| Effect 	| PhoSim setting 	|  DM Status  | Customer | Ready for Run 1.1 |
|:-:	|:-:	|:- |:- |
| Tree rings 	|   	? |   ?         | ?  |  ?            |

[2017-12-21 23:56] katrinheitmann commented on #17
Since we started Run 1.0 yesterday, I suppose this issue can be closed for now.

[2017-12-21 23:56] #17 closed

[2017-12-22 01:03] katrinheitmann commented on #38
For now we agreed that due to the approximations the slop is expected. So I will close this issue. If people feel like we need more tests we should reopen.

[2017-12-22 01:03] #38 closed

[2017-12-22 01:13] katrinheitmann commented on #52
It would be absolutely helpful if you can capture this in Section 10 -- thanks a lot!

[2017-12-22 01:36] rmandelb commented on #52
I see Mike has thumbs-uped my message.  I would like to give one more day for final comments and then I will indeed put it in section 10.

[2017-12-22 01:42] cwwalter commented on #66
Dear John,

Sorry I was traveling today and am now in California for the holiday.

OK; so let me be a bit more specific.  Of course there are many changes in each release. Hopefully you are tracking those yourself in a detailed release notes.

I am talking about something more specific.  We want to document the parameters in the instrument directory we are using for the run.   We need to be able t

[2017-12-23 15:38] TomGlanzman commented on #65
Saturday 23 Dec 2017 Update:

As of 07:30 PST, over 19,000 sensor-visits have been completed (representing ~3% of the anticipated 606k total sensor-visits in the current visit lists).  The challenge has been keeping SLURM jobs running.  Short jobs (8-10 hours) seem to start up within a few hours, but they suffer from serious inefficiency when they end -- taking many partially run raytrace jobs wit

[2017-12-23 15:43] salmanhabib commented on #65
@TomGlanzman Starting hundreds of jobs should not be a "-- strain on the connection to the files system." In principle, hundreds of jobs is nothing to worry about -- you should file a ticket with NERSC about this. Something is not working correctly.

[2017-12-23 16:56] katrinheitmann opened #69 "Run 1.0 phosim results"
In this issue we'll track the results that we get from PhoSim for Run 1.0, carried out on protoDC2. This can also be a stepping stone towards the more formal validation of the image files that we need to do. Tom is collecting the outputs here: /global/projecta/projectdirs/lsst/production/DC2/DC2-phoSim-2-r/output

[2017-12-23 17:00] katrinheitmann commented on #69
@johnrpeterson Hi John, I looked at a random centroid_lsst_e_195452_f2_R43_S20_E000.txt file from the phosim and there are lots of nans in there:
SourceID Photons AvgX AvgY
1125435218948 7769 3400.425151 3898.067061
1125434880004 62 3242.483871 3976.145161
1125434145796 0 -nan -nan
1125433789444 0 -nan -nan
838460647428 39615 3074.290471 4066.973167
1125436257284 0 -nan -nan

Is this expected? Whe

[2017-12-23 17:08] katrinheitmann commented on #69
I have peeked at some of the output files from the phosim runs that Tom is producing and thought I would share the results here. From this very limited inspection, things look good -- no speckles or anything. I show below just a zoom in and a contour plot with the associated histogram. The experts should look more carefully though the run is obviously not complete yet.
![result2](https://user-imag

[2017-12-23 18:03] sethdigel commented on #69
@katrinheitmann The nans are listed for (faint) sources that generated no detected photons, so no centroid can be calculated.  The AvgX and AvgY are pixel coordinates in the output images.

[2017-12-23 18:21] jchiang87 commented on #69
Unfortunately, I have to bring not-so glad tidings about the current phosim runs.  Here is part of a field from the current runs in the r band, visit 889352:
![protodc2_889352_r_r22_s01](https://user-images.githubusercontent.com/1994473/34321629-90f8e4c0-e7c8-11e7-85d5-d93d4c855324.png)
and here is a visit from DC1, imsim dithered, r band, visit 40337:
![dc1_imsim_40337_r_r22_s01](https://user-ima

[2017-12-23 22:47] sethdigel commented on #69
Here's a plot showing the centers of the completed sensor visits, as of an hour or so ago.  It looks like the system for selecting the sensor visits to simulate for a given pointing is working.  I highlighted the positions of the sensor visits for obsHistID = 151687, which has the most (186) of any; I have not looked into why three sensor visits are missing from that pointing.

![show_coords](http

[2017-12-24 00:43] TomGlanzman commented on #69
@sethdigel The three missing sensors from visit 151687 (which is, in fact, the very first visit in the r-band) are simply queued and waiting to execute.   (And production was shut down a few hours ago.)

[2017-12-24 02:56] jchiang87 commented on #69
Here are couple of simulations of visit 450581 showing the middle of the central chip:
* on the left, using my kluge [here](https://github.com/LSSTDESC/gcr-catalogs/pull/56) to get seemingly reasonable galaxy major/minor axis values (and simulated via imsim), and
* on the right, the same field from the phosim protodc2 runs using the production instance catalog (i.e., without my kluge).
![image_com

[2017-12-25 06:48] sethdigel commented on #69
Here's a plot of median electrons/pixel vs. Moon altitude for the 20928 sensor visits in the DC-phoSim-2-r run.  These are all r-band observations.

![protodc2_bright](https://user-images.githubusercontent.com/6035835/34334362-bf63a308-e8fa-11e7-91a9-099fee294d93.png)

The vertical banding occurs because the sensor visits were accumulated over 566 visits, and so many sensor visits have the same me

[2017-12-26 00:52] dannygoldstein commented on #68
Hi all (esp. @linan7788626, @rbiswas4, @jbkalmbach),

I'm happy to announce the release of the first set of DC2 sprinkler examples. Please use these to develop your downstream codes.

What I have produced is a catalog of lensed images, lenses, and host galaxies of six strongly gravitationally lensed Type Ia supernovae (glSNe; 3 doubles, 3 quads). Each row in the catalog corresponds to one image of

[2017-12-26 00:59] dannygoldstein commented on #68
Also many thanks to @dkorytov and @yymao  for helping me do this over the holidays.

Danny

[2017-12-26 01:25] dannygoldstein commented on #59
Hi @rbiswas4,

Answers to your questions:

Yes. At least for SNe the rates as a function of  galaxy morphology were quantified by Li et al 2011, my plan was to use their results for this analysis.

No I think we should imagine these as being drawn from totally separate populations, at least for DC2.

In this case I'd say we should just find another source galaxy for the AGN.

For answers to the ot

[2017-12-26 05:58] rbiswas4 commented on #68
Thanks @dannygoldstein . I have tried to do anything with it yet, but will try as soon as I am back.

[2017-12-28 13:26] rmandelb commented on #52
For the record, I put this in section 10 a few days ago (didn't want to make a lot of github traffic at the time so didn't comment at that point).

@salmanhabib - I did not close this issue because I thought the question of what compression method will be used has not been resolved.

[2017-12-28 19:19] cwwalter commented on #52
To be a bit more explicit: I think keeping the warps from a patch worth of calexps on disk would be good since then you would have all of the inputs that went into a co-add for testing and studies.

I also suggested we might want to tar up the other co-adds by patch and put them to tape if people needed them (rather then regenerating) but I don't know if:

- Using the tape is a cost driver
- Wheth

[2017-12-28 19:26] salmanhabib commented on #52
@rmandelb Let's discuss the compression alternatives next week, may be worth a separate threads for test results, etc.
@cwwalter Tape is not a cost driver for the amount of data we are talking about.

[2017-12-28 19:40] cwwalter commented on #69
At some level, I am more surprised by the high median cases.  The low cases could in principle be caused by clouds, but what causes twice the expected sky level when the moon is 70 degrees below the horizon? Is the sky glow that much in the model?

Could we make the figure with more of a density plot like approach (or as a profile histogram) so we can better see the trend of the distribution?

[2017-12-28 20:13] fjaviersanchez commented on #69
Thanks for the data @sethdigel. I am showing here some plots similar to what you did but color-coding with other quantities.

I thought that these high-background images might be due to twilight observations but it doesn't look like it:

![image](https://user-images.githubusercontent.com/13971732/34422070-25f411dc-ebe1-11e7-9276-645b2b50aa8c.png)

Then I checked if it was just close to the Moon:

[2017-12-28 20:39] cwwalter commented on #69
Oh... didn't notice the link to the CSV file that Seth made. That's great thanks.  Javier, can you remake this with very small dots so we can see how they are distributed and if the ones on the edges are really outliers?

[2017-12-28 20:51] fjaviersanchez commented on #69
![image](https://user-images.githubusercontent.com/13971732/34422895-8d67d8c6-ebe6-11e7-803e-dc18befcb686.png)
![image](https://user-images.githubusercontent.com/13971732/34422913-b1ff3468-ebe6-11e7-8e0d-cb62b494535e.png)
![image](https://user-images.githubusercontent.com/13971732/34422909-a8466c16-ebe6-11e7-89da-aec09e8468ff.png)
![image](https://user-images.githubusercontent.com/13971732/3442293

[2017-12-28 21:05] sethdigel commented on #69
Beautiful plots, @fjaviersanchez.  I had looked at some of the potential correlations, but nothing really jumped out at me.  I guess that I see the point @cwwalter made about clouds = dark sky.  (I came from mm-wave astronomy where clouds = water vapor = bright sky.)  Maybe it would be interesting to look at the variations in median sky counts across the focal plane for a given visit, to see how s

[2017-12-28 21:18] RobertLuptonTheGood commented on #69
At good sites the clouds are darker than the sky in the optical (not true in Princeton or SLAC) even then the moon isn't up.  This should be a bigger effect in the red (e.g. i, z, y) than the blue (u, g).

[2017-12-28 21:48] cwwalter commented on #69
John will need to confirm but I thought I was told (I can't remember by who) that in PhoSim the clouds extinct light but don't reflect moonlight etc.  But in any case we see cases in the plots with twice the expected level when the moon is at -70.  I think it would be good to just look at one of those cases in ds9 and see what is really going on.

[2017-12-29 01:34] linan7788626 commented on #68
Hi @dannygoldstein , thanks for the catalog, I played with it in past days, it looks good. One thing I want to mention is that the names of SEDs of the components of the hosts would be needed for the further work as well. On the other hand, could you please provide a catalog of the sources only? For example in current data, you have six systems, what I need are the properties of these six unlensed

[2017-12-29 02:11] sethdigel commented on #69
At least part of the answer is vignetting.  Here's a visit (obsHistID = 1678834) with a large number of sensor visits simulated and one of the larger ranges of median electrons/pixel in the sensor visits, including 6 sensor visits with much lower medians than the rest of the distribution.

<img width="995" alt="assemble_1678834" src="https://user-images.githubusercontent.com/6035835/34427705-f8547

[2017-12-29 20:11] sethdigel commented on #69
I've updated the [csv file](http://www.slac.stanford.edu/~digel/lsst/DC2/protoDC2-phoSim-2-r.csv) to add columns with the locations of the sensors in the focal plane.  The new columns are rx, ry, sx, and sy, extracted from the R##_S## parts of the file names.  rx is the x-coordinate of the raft, ry is the y-coordinate, and sx and sy are the coordinates of the CCDs in the rafts, in the mapping sche

[2017-12-29 22:09] aphearin opened #70 "Rescaling protoDC2 stellar mass"
I have finished a complete first draft of the code that rescales the stellar masses in protoDC2. I am raising this Issue so that people can understand the techniques I am using to solve the problem of improving the realism of the DC2 catalog.

## Baseline catalogs

@dkorytov has produced protoDC2 "snapshot catalogs" for me to work with instead of the lightcone catalog recently made available to th

[2017-12-29 23:23] abensonca commented on #70
The approach to generating viable SEDs seems reasonable. A couple questions:

1) in your resampling I assume that right now each galaxy is treated as a single component (i.e. you do not treat disk and spheroid components separately)? In that case, I suspect we should give some thought about how to assign SED/magnitudes to each component as that information will likely be required by some WGs.

2)

[2017-12-29 23:28] aphearin commented on #70
1. I have not thought through the disk/spheroid SED decomposition yet. I figured I would cross this bridge when I (soon) come to it. Ideas welcome.

2. The reason I chose M*/SFR as my basis for rescaling is that I have a well-tuned "truth table" to compare to. For Z that is not the case. I did not figure on rescaling Z, but it would be straightforward to use the carried-over Z and then proceed to

[2017-12-30 00:36] aphearin commented on #70
The simplest way to get disk/bulge SEDs, and also metallicity, would just be this: when I randomly select an SED from a 2d bin of {M*, SFR}, whatever galacticus galaxy is selected, I also grab its disk SED, its bulge SED, and its metallicity. Probably I should just grab *everything*. Sizes and B/T will likely need to be rescaled later, though hopefully not resampled.

Doing things this way we at l

[2017-12-30 03:51] janewman-pitt-edu commented on #70
Can you avoid pulling the SEDs from bins in ( M*, SFR ) (e.g., instead draw a random object in a small neighborhood around the generated value, rather than from the bin it falls into)?  The discretization that the bins would impose seems avoidable, but furthermore I can imagine biases that result from the binning as the (M*, SFR) distribution within the bin will not match the (M*, SFR) distributio

[2018-01-01 18:49] dannygoldstein commented on #68
@linan7788626, here is the toy catalog with the sources only, containing all the columns you requested except the galaxy component SEDs:

http://w.astro.berkeley.edu/~dgold/static/system_catalog_protodc2.pkl

I am not sure exactly how to obtain the protoDC2 galaxy component SEDs.  I know the protoDC2 galaxies have been generated by Galacticus - perhaps @abensonca, @dkorytov, or @yymao could commen

[2018-01-01 21:14] yymao commented on #68
@dannygoldstein @linan7788626
Here's an example of getting *all* SED info from `protoDC2`. You may want to further filter `sed_labels` to only get the relevant info you needed.

[code]

[2018-01-01 21:35] rmandelb commented on #70
@aphearin - this sounds really promising.  The improvement in the 3D clustering statistics is especially good to see.

Sorry if this is a really naive question, but do we have to worry about cosmological parameters in some of this?  That is, the Bolshoi Planck sim that you are using for UniverseMachine has Planck-like cosmological params, while I thought proto-DC2 has WMAP7-like parameters.  So th

[2018-01-02 04:33] dannygoldstein commented on #68
@yymao

In the SEDs quantities I see many items of the form

* SEDs/diskLuminositiesStellar:SED_1933_474:rest

I am interpreting this to mean: luminosity of the disk component of the galaxy between 1933 and 1933+474=2407 A in the galaxy's rest frame.

What are the units on these quantities? Are they specific or integrated luminosities?

Thanks,
Danny

[2018-01-02 04:52] yymao commented on #68
@dannygoldstein Your interpretation is correct. The unit is 4.4659e13 W/Hz (AB luminosity).

I think they are integrated but I'm not sure on this one --- pinging @evevkovacs @abensonca @dkorytov

[2018-01-02 07:46] dannygoldstein opened #71 "Where is the uDDF going to be?"
@cwwalter @drphilmarshall

Where on the sky is the uDDF going to be in DC2? Asking because this affects which protoDC2 galaxies can be used in the sprinkler.

[2018-01-02 14:21] aphearin commented on #70
@janewman-pitt-edu - Thanks for the comments/suggestions. I agree these are important details to polish, and you are right that there are many things we can do to eliminate edge effects and biases due to hard-edge binning: Gaussian kernel selection, probabilistic weights, nearest-neighbor searches, etc. I do these kind of tricks all the time when the problem calls for it. This virtually always res

[2018-01-02 14:37] aphearin commented on #70
@rmandelb - thanks for weighing in. I didn't intend to be cryptic in my earlier reply to you and @yymao in #10, it's just that at the time of your previous question, I was still doing a lot of experimenting and I thought it better to plow ahead rather than explain the morass of different results based on alternative variations of the M\*-rescaling. So I'm glad things are making better sense now.

[2018-01-02 15:05] slosar commented on #70
I have a more philosophical question here: is the point of these rescaling to match the output to be more realistic by the hook or by the crook or is there some physical reason to believe these rescaling are in effect equivalent to rerunning galacticus with better tuned parameters?
Because I think DCx is essentially a code- and instrument- testing exercise -- can we get out what we put in, i.e. we

[2018-01-02 15:06] fjaviersanchez commented on #34
I'll mention #69 here to keep track of its existence since it's related to this epic. @sethdigel @TomGlanzman should we start a repository with software to produce image QA plots like the ones in #69  (background levels, single visit depth, Moon altitude, etc) or is there something already set up?

[2018-01-02 15:14] rmandelb commented on #70
@aphearin -

Yes, I agree.

@slosar -

Personally I don't care whether these rescalings are in effect equivalent to rerunning galacticus with better-tuned parameters.  What I do care about is that the sims have the basic features we expect from real data, so that we are testing our code with something vaguely sensible.  For this reason, we force the sims to have some of these known basic features

[2018-01-02 15:27] slosar commented on #70
@rmandelb Ok, we agree here. My comment was more in the direction of Andrew, because I don't think we  should be wasting too much time on these once we reach reasonable agreement.

[2018-01-02 15:56] abensonca commented on #68
As @yymao said, the luminosities are in AB luminosity units (what sometimes gets called "maggies"). The reason for this is that usually these luminosities are being computed for broad-band filters which we want to compare to data that is given in magnitudes. Outputting in maggies then means we can simply do M = -2.5 log L (where M is magnitude, and L is the output luminosity) - i.e the zero point

[2018-01-02 16:21] sethdigel commented on #34
@fjaviersanchez, I'm not aware of something already set up.  I can see a use for something like that, as distinct from the formal testing framework for PhoSim that @salmanhabib described, and the (I think) related integration tests that @johnrpeterson describes in Chapter 10 of the PhoSim Reference Document (linked [here](https://bitbucket.org/phosim/phosim_release/wiki/Home); the provided URL for

[2018-01-02 16:21] aphearin commented on #70
@slosar - I share your perspective. I'm not sure what comment I made that indicated otherwise, but for the purpose of DC2 I see minimal value in fine-tuning the accuracy to levels below ten percent, and minimal value in worrying about how my rescalings impact the physical assumptions that influence small-scale clustering. The current version of protoDC2 exhibits many scaling relations that are qua

[2018-01-02 16:39] johnrpeterson commented on #66
Chris, we produced something like that for the project review of phosim in 2013.  So this culminated in the 170 page phosim reference document, but it is out of date in almost every area.  its really a daunting task to update it.   i remember it took 6 or 9 months of work, and we did this a couple years before this.   since then we have largely added detail in an iterative manner in the project an

[2018-01-02 16:49] johnrpeterson commented on #69
good work, everyone, and happy new year.

for the background questions, the observations that are significantly higher and not related to the moon, off the top of my head, it probably is either:  1) twilight, 2) natural time variation (either random or solar activity-related).

also there is some zodiacal variation but if you are looking at the same ra/dec roughly then it won't be that different,

[2018-01-02 23:00] cwwalter commented on #71
@dannygoldstein Just before our DC2 meeting @drphilmarshall put in "Offset but just including the Extended Chandra Deep Field South Deep Drilling Field" for the location. I understood that was after discussion with you :).  In this case offset means on the edge of that field.

[2018-01-03 01:43] cwwalter commented on #34
I think here we are trying to build a image validation tools for all of DC2 including for phoSim and imSim where we can see if things are working as we use then in our environment as we expect along with our particular inputs. This should also extend to the L2 outputs like the co-adds. As Seth says, this also means comparing with the metadata with the OpSim runs etc.

So, @fjaviersanchez I think f

[2018-01-03 01:53] cwwalter commented on #70
@aphearin Can I ask a very basic question?  This is just me trying to understand, not question what you are doing:

It's a little bit related to Andre's question but, instead of doing re-scaling, why not either:

- Work on making the tuning of Galacticus better
- Produce a new catalog with UniverseMachine we could use in parallel

Is it that universeMachine doesn't produce as much information as G

[2018-01-03 02:05] cwwalter commented on #66
Hi John,

As I explained above I am not asking for a complete validation / documentation of the PhoSim models.  I understand this is a a big job.  What we need is much more restricted. For the parameters that the user can in principle change in the instrument directory we want to write down what parameters were used for the simulation.  The ones that come to mind for me includes:

- Hot pixel rate

[2018-01-03 02:07] abensonca commented on #70
I'm working on making Galacticus match the data more closely. But, it's a difficult and slow process. Difficult because there's a lot of different datasets we'd like to match and getting some of them to match will require changes to the physics implementations in the model rather than just parameter tuning. And slow because parameter tuning involves evaluating the model at many different points in

[2018-01-03 02:09] cwwalter commented on #69
Thanks John.

I think it would be good to grab one of the x2 bright observations and take a look at them in DS9.  If it is just a few sensors then John's suggestion of twilight is a good one and the pattern might be apparent. Also, Javier maybe you could look at the local time/altitude?

John for " 2) natural time variation (either random or solar activity-related)." is there a plot in the PhoSim

[2018-01-03 02:25] cwwalter commented on #70
Thanks for the explanation Andrew.

[2018-01-03 03:50] aphearin commented on #70
@cwwalter - re: UniverseMachine. This model makes a much more restricted set of predictions - M\* and SFR for every subhalo at every redshift, whereas Galacticus predicts a full SED and also morphology histories. So while UniverseMachine appears to be well-tuned to those observations that it does predict, it's not possible to use it as the baseline DC2 model in its current form.

[2018-01-03 04:41] fjaviersanchez commented on #69
@cwwalter @johnrpeterson Happy new year! I checked the Sun's altitude and I would say that the images where the background is that high don't correspond to twilight (I'd say that the Sun is at ~-30 degrees) and there are pointings closer to twilight that don't show this behavior.

![image](https://user-images.githubusercontent.com/13971732/34509266-1f2d729c-f016-11e7-9fa8-3b5412ca0984.png)

@sethd

[2018-01-03 05:01] sethdigel commented on #69
@fjaviersanchez Good question.  I calculated just the raw median.  From the distributions of the pixel counts of the (few) sensor visits I looked at individually, it seemed robust, in the sense of not being biased by stars and galaxies.  I could be wrong but I would not expect it to be a large effect.

Yes, none of the visits has Sun altitude >-18 deg, which is the definition of astronomical twili

[2018-01-03 13:32] johnrpeterson commented on #66
well, if you want to just worry about those 5 things then that is ok.

these three make sense:  hot pixel rate & cross-talk is based off of prototype devices, so i wouldn't worry about those.  the default is to use ITL (e2v is implemented as well if you wanted to use that instead for some reason -i lsst_e2v ).

these two don't make sense:   phosim doesn't use any version of system throughputs.  an

[2018-01-03 16:03] nomerot commented on #66
for the tree rings we would need to define the amplitude, period and geometry (location of the center, I believe it should be fixed now but there are 4 possible orientations). The amplitude and period should be defined for each sine in case we have more than one (and a phase shift between them?).

[2018-01-03 16:19] ivezic commented on #66
@johnrpeterson I don't understand this statement "phosim doesn't use any version of system throughputs". E.g., how do you treat mirror reflectivity, lenses, filter bandpasses, etc?

[2018-01-03 16:48] dannygoldstein commented on #71
@cwwalter @rbiswas4 @drphilmarshall

I was off the grid when this was decided and was unable to participate in the conversation. I have no issues with the Chandra location, but what I actually need is an RA/DEC footprint of the corners of the  rafts that will have DIA run on them in DC2.

Danny Goldstein
http://astro.berkeley.edu/~dgold
________________________________
From: Chris Walter <notifica

[2018-01-03 17:10] johnrpeterson commented on #66
andrei, the apparent tree rings variation in flats, for instance, are not simple functions since you have to forward simulate them and then see what the amplitude, pattern, etc. is.  so you could make a model based on what you see in the flats, for instance, but its not trivial to predict.  we need to get all the details right about the tree ring physics.

zeljko, it is based on various photon phy

[2018-01-03 17:24] ivezic commented on #66
@johnrpeterson Thanks for the answer - but I am still puzzled (my question was not
explicit enough). What I want to know is how do we ensure that what's in phosim is
consistent with the properties of LSST system. For example, in case of "angle-dependent wavelength-dependent filter functions" you mentioned, we need to ensure that your inputs
for those functions correspond to our devices as delivere

[2018-01-03 17:27] nomerot commented on #66
we studied how to relate the variation of doping and TR amplitude in flats in Phosim, this is documented in B. Beamer et al 2015 JINST 10 C05027 so this should be straightforward. the period and amplitude in the production ITL sensors can be taken from H.Y. Park et al 2017 JINST 12 C05015. we still need to decide on the TR orientation in the rafts and how many sines are used to avoid TR to be too

[2018-01-03 17:33] cwwalter commented on #66
For the tree rings: As Andrei notes above the doping parameters and pattern are set in the silicon.txt file including the period etc.  We understand that this does not exactly tell you the resulting output but we want to know what pattern was put in and what the resulting output variation looks like after the run (See also the reference to the study by Ben B. and Andrei). This is important for us

[2018-01-03 18:46] johnrpeterson commented on #66
zeljko-  in system engineering we compare to throughput curves and define an accuracy tolerance.  that is one of the hundreds of validation tests that gets versioned and automatically run constantly.  if any change to the physics or input data violates the tolerance then we'd know about it instantly.  before any formal version release, then we'd have to resolve it.

chris/andrei-  the pattern is c

[2018-01-03 19:19] ivezic commented on #66
@johnrpeterson When you say "system engineering", you mean the LSST System Engineering, right?
I am in the middle of a process of updating system properties with Steve Ritz and Chuck Claver (in the context of updates to the overview paper). We have github repos that contain "official" versions of our knowledge about the LSST system (together with the EFD). What I would like to confirm is that you

[2018-01-03 20:51] cwwalter commented on #71
Hm... OK, I wasn't part of the discussion with Phil and Rahul.  So, I think they will have to chime in.

[2018-01-03 21:37] rbiswas4 commented on #71
@dannygoldstein The location of the Extended Chandra Deep Field South at: RA: 03h 32m 30s Dec: -28d 06m 00s. However, we don't have location of rafts yet. This will depend on the dithers (though these are known to be small). This should help for testing purposes.

[2018-01-03 21:40] RobertLuptonTheGood commented on #71
I don't think that you should assume that the dithers are tiny (I'd guess a CCD or so), and the current plan -- which may change, is extensive angular dithers.

							R

[2018-01-03 21:53] rbiswas4 commented on #71
@RobertLuptonTheGood I should have qualified that this is specifically a Deep Drilling pointings for DC2, and not about the WFD pointings that will also make up DC2.

We are hoping for small translational dithers but could have larger rotational dithers to avoid losing  too many observations in the region. I think we had been told to expect translational dithers ~ CCD size even for the DDF pointin

[2018-01-03 22:18] RobertLuptonTheGood commented on #71
I'm worried about Moiré patterns in correlated noise with rotational dithers, but that's still just a worry (i.e. full rotational is still the nominal plan).  I'll need to get back to DESC about this at some point.

For translational dithers, for now I don't think that there's anything crucial about CCD-scale dithers.  We're not (yet) tracking spatial structures in CCD QE or the filters so I don't

[2018-01-04 17:47] johnrpeterson commented on #66
zeljko, it could be out of date but not sure.  lets go through the project processes stuff offline.

Chris/Andrei-  Andrei & Ben tuned some of the value already and we added all sorts of details to make it realistic in future versions, so now i'm not sure what you are asking for?  if you don't need to know exactly what it looks like, and just approx. then we all already know that.

[2018-01-04 19:49] drphilmarshall commented on #55
Happy New Year, all!

@danielsf, I guess the Simplest Possible Thing we could do for DC2 is just
apply the MacLeod model to the DC2 AGN hosts. What galaxy properties (if
any) would be needed to make these assignments? Average i-band magnitude?
Redshift? None at all?

[2018-01-04 20:18] jchiang87 commented on #55
Does the "MacLeod model" assume the emission seen by LSST is ultimately from the central BH accretion disk?  If so, then to first order, the luminosity should scale as the accretion rate, and the rest frame variability time scales should scale as the central BH mass.  If that model is physically motivated at all, then surely those are two of the most relevant parameters.

[2018-01-04 21:37] danielsf commented on #55
The model was actually constructed before my time at UW, I just maintain it now, so I can't answer this question without doing some research.

The reference in question is ApJ 721, 1014, if anyone wants to read along with me.  I will try to have something intelligent to say by Monday.

[2018-01-09 01:09] drphilmarshall opened #72 "Run 1.1 survey design: scale, fields, visits"
I was wondering how big Run 1.1 would be if we set ourselves a limit of 3 days CPU time, so I dug up @TomGlanzman 's rough PhoSim timing result that in steady state we can expect to be able to make something like 5-10 sensor visit images per KNL node-hour at NERSC, and extrapolated this to a strawman design for Run 1.1 to get us started. I figured we should try and do all filters, and enough field

[2018-01-09 01:45] sethdigel commented on #72
The time estimates look consistent with Tom's posting on Dec. 21 [here](https://github.com/LSSTDESC/DC2_Repo/issues/65), actually a bit more conservative.  His ~270 minutes (clock time with 8 threads) per sensor visit scales to about 7.5 sensor visits per node hour vs. the 5 sensor visits per node hour that you are assuming.

[2018-01-09 22:50] drphilmarshall commented on #72
@sethdigel Tom advised me to budget for about 30% extra time needed even in steady state, to cope with various submission inefficiencies. I'm fine with a conservative estimate: I was pleasantly surprised that 750 full-frame main survey visit images plus 750 4-raft uDDF visit images could be made in 3 days CPU time.  @jchiang87 @salmanhabib from a CI perspective, does this sound like a reasonable s

[2018-01-09 23:09] drphilmarshall commented on #71
Thanks, Robert. Closing this as I think @dannygoldstein has he coordinates he needs to get started; actually applying the dithering to the required visits will be issued separately.

[2018-01-09 23:09] #71 closed

[2018-01-09 23:11] drphilmarshall commented on #5
I think that's right: for chip-scale dithers, we'll need to re-do (or make separately) the dithered positions. BTW Robert Lupton commented on impacts of dithering on DM processing in #71 - bottom line is that we should be fine with the scheme discussed here. Remaining action required is to make sure the dithering plan is written down in the DC2 Plan.

[2018-01-09 23:22] drphilmarshall opened #73 "DC2 Cookbook"
We have DM pipelines in the form of collections of scripts in various places: for DC2 we will need to pull these together and re-apply to the DC2 images as we make them, starting ASAP. To make sure that we are implementing the data release processing (DRP) pipeline that we want to see, we need a DC2 Cookbook to check against.

@SimonKrughoff and I discussed this a little, and we decided we should

[2018-01-10 00:30] cwwalter commented on #73
We shouldn't forget the repos and scripts that were worked out to do this for DC1. The DIA is of course new here but the static stuff is not.

[2018-01-10 00:37] sethdigel commented on #72
Thanks, Phil.  Some dumb questions (that I did not find answers for in the dc2-planning-document):
What is the relation between the area of sky covered in Run 1, Run 1.1 (p/i), and Run 2?  Is the idea that they overlap?  Does Run 1.1 include the Run 1 data?  And Run 2 include Run 1.1 data?  I guess probably not.  Run 1 visits seemed to be centered more or less around RA, Dec = 0, 0, but I guess th

[2018-01-10 00:53] drphilmarshall commented on #73
Absolutely. I originally wrote "pieces from DC1 and Twinkles" but I couldn't find a specific DC1 cookbook recipe (markdown file). I thought the DC1 DM pipeline was derived from the Twinkles static sky recipe (that makes coadds, and objects=coaddsources), so figured that https://github.com/LSSTDESC/Twinkles/blob/master/doc/Cookbook/DM_Level2_Recipe.md would be a good place to start. The additional

[2018-01-10 01:20] drphilmarshall commented on #72
My workflow is: sketch on gslides -> community feedback -> document in the Plan :-)

I'm not sure what sky area is being attempted in Run 1.0, but I know there is no uDDF component. I figured I'd start from a sensible 3-day CPU time constraint for Run 1.1 (that would keep us nimble, in case we need to re-do it), and see what area / campaign length that gave us. In the design above, the amount of i

[2018-01-10 01:22] drphilmarshall commented on #72
Oh - and @sethdigel yes, the big evolution to Run 2.0 would be to add 27 more full fields out to the South and East of the Run 1.1 area (for example), and then do the remaining 7-8 years of visits.

[2018-01-10 21:35] jbkalmbach commented on #68
Thanks @dannygoldstein. I'm back from holiday and looking through the catalog. One question. For a given image you mention the following:
* x - x-coordinate of this lensed image (arcsec)
* xhost - x-coordinate of the centroid of the host galaxy in the absence of lensing (arcsec)
* snx - x-coordinate of the supernova in the absence of lensing (arcsec)
 and the same for the y-coordinates. But will t

[2018-01-10 22:53] wadawson opened #75 "Page aligned image sizes"
Currently in DC1 the size of the “patches” are 6200 pixels x 6200 pixels. For DC2 can we make the size of these patches page aligned (i.e. n * 4096)? Hopefully this is an easy change to make in the simulation code (image processing step) that will have major performance impacts downstream for operations accessing large number of epochs/patches. For example, if the images were made 4096 x 4096 (or

[2018-01-11 02:13] RobertLuptonTheGood commented on #75
We can do that, but the patches overlap to allow for objects near the edge, so you have to think about that too

[2018-01-11 16:51] rbiswas4 commented on #68
@dannygoldstein Now that we are all back, can we (atleast you @jbkalmbach @danielsf to find a time more easily, but others can join if interested) briefly meet to discuss the sprinkler?  There are a few details we would like to understand :
- What light curves would you like for the SN and AGN (AGN is a separate issue).
- How do we understand what properties should be used for the lensed SN (that

[2018-01-11 18:24] danielsf commented on #55
The MacLeod et al. model is based on two parameters:

- the characteristic time scale of variability (\tau in the paper)
- the structure function of the variability at infinite time lag (SF_inf in the paper)

Their Equation (7) and Table 1 give expressions that allow us to solve for these parameters given the black hole mass, the absolute magnitude of the AGN in the i band, and the rest frame wave

[2018-01-12 00:22] katrinheitmann commented on #72
@jchiang87 @salmanhabib We would like CI to sign off on this (see Phil's question above if the scale is reasonable from a computing perspective), can you take a look please and give us a "thumbs up"? For SSim, @cwwalter and @fjaviersanchez Phil wanted to make sure that this set-up rich enough in features to be a good test? If we can get a thumbs up from you as well we can push this to the next ste

[2018-01-12 01:23] jchiang87 commented on #72
3 cpu days for Run1.1 seems like a reasonable scale to me.  However, since we can and are planning to run the simulation codes for individual sensor visits, rather than picking 3-4 rafts to simulate for uDDF and suffering from inefficiencies at various locations in the uDDF, we can instead pick a fixed region on the sky and just simulate whatever sensors fall within that region for a given visit,

[2018-01-12 02:41] rbiswas4 opened #76 "OpSim quantities Required by PhoSim"
For the enhanced cadence in uDDF, by definition, we will have extra visits that are not in the OpSim database. As it was proposed that for these fields, we will only do phosim simulations rather than galsim simulations, we have to make sure we provide all the columns that phosim obtains from OpSim
through the instance catalog headers produced by catsim.

@danielsf  Following up on your comments on

[2018-01-12 17:03] johnrpeterson commented on #76
1)  yes.  phosim predicts various emission components that result in background.
2)  you can either have phosim predict the seeing (setting it to -1 causes it to choose it from a distribution) or you specify it as the "seeing X".  you wouldn't need code to convert it though.
3) rotskypos could really be anything
4)   so the dither commands in phosim are purely for bookkeeping purposes.  so you sho

[2018-01-12 17:18] danielsf commented on #76
And now the CatSim perspective:

for reference, the method that writes the headers for PhoSim InstanceCatalogs is here

https://github.com/lsst/sims_catUtils/blob/master/python/lsst/sims/catUtils/exampleCatalogDefinitions/phoSimCatalogExamples.py#L96

to answer your specific questions

1) what John said

2) we don't have methods in CatSim to calculate seeing from first principles.  I assume that t

[2018-01-12 17:36] johnrpeterson commented on #76
by the way if you use the seeing -1 to choose from a distribution, it will not only choose realistic values but also have the proper time correlations.

[2018-01-12 18:29] drphilmarshall commented on #72
@jchiang87 Oh, nice: I didn't realize we could do that! In that case, we could we set the uDDF area to be a square region measuring 5*4096 pixels on a side (a bit more than 68'), oriented N-E.  This is the same area as 25 sensors, so comparable to the original 3-raft scale. The images would be processed as 25 patches (if we go with 4096 pixel patches) in a 5x5 mosaic. This approach would lead to a

[2018-01-12 18:36] jchiang87 commented on #72
Typical object counts I've been seeing in single sensor instance catalogs have been ~70k objects.   So at minsource=100, we'd get sensors with as small as ~14% coverage.

[2018-01-12 19:29] drphilmarshall commented on #72
Thanks - that means that we'd end up simulating about twice as much area as was in the uDDF region. At each epoch, a DDF visit would involve simulating 25+24*(1-0.14) = 46 sensors (on average). This is 28% more sensor images than in my v1 strawman design, so at fixed cost we'd need to reduce the number of DDF epochs from 750 to 586. I am sure this will be plenty for the Run 1.1 test: @rbiswas4, wh

[2018-01-12 19:43] drphilmarshall commented on #72
Here we go: does this make sense?
![image](https://user-images.githubusercontent.com/710903/34892361-d8223db8-f78d-11e7-8776-c517219194b8.png)

[2018-01-12 20:30] cwwalter commented on #72
One concern I have is that I suspect one of the things that is either going to go wrong or we are going to have work getting the processing to work properly is the overlap between the WFD and the uDDF regions.  In Run 2 it will be off at the edge but here we have it overlapping the all of the fields somewhere.  I think it might be better if we either at least shifted it to be over one FOV or (if w

[2018-01-12 21:00] drphilmarshall commented on #72
@cwwalter I guess with the way sensors are selected, we can put the uDDF right in the corner of the main survey field and it should be fine... Happy to try that. I don't have an opinion about which corner the uDDF should go in: if @humnaawan and @egawiser have a suggestion for which direction the Run 2 main survey should extend to (NE? SW?) then that could help determine which corner we choose.

!

[2018-01-12 21:55] jchiang87 commented on #72
@cwwalter Are you referring to the sensor model/sky background work?  That's a more complicated discussion which we should have elsewhere.

[2018-01-12 22:00] cwwalter commented on #72
Yes.  I mean I know the time will go up with that work (which is as you say is not a discussion for here) but I was wondering if we already knew enough to get a sense of how long the same number of jobs as discussed above will take.

Perhaps a better questions for here is the following: as a a low end estimate do we know the number on KNL without the sky background being routed through the sensor?

[2018-01-14 03:55] katrinheitmann commented on #67
@jchiang87 @cwwalter Is it clear now if this is an issue? If it is, have you filed a phosim ticket? If it is still not clear, who can help checking? Thanks!

[2018-01-14 18:57] fjaviersanchez commented on #47
@katrinheitmann @drphilmarshall I added several tables to the planning document showing the different validation tests that I could come up for different stages of the image generation process and I added a deadline for the Run 1.1 validations. My to-do list is:
- [] Contact DM to see if the QA scripts have been fully ported to LSST.
- [] Add basic validation scripts to Validation folder.
- [] Add

[2018-01-14 19:08] katrinheitmann commented on #47
@fjaviersanchez Thanks Javier! This looks like a very good start. You did add this to the overleaf document, right? (@drphilmarshall: I still find it MUCH easier to use that instead of github ... but not sure if you from time to time just want to import it into the repo? Or if you want to close down the overleaf version all together?) One question: can you just use the same test set-ups for the in

[2018-01-14 20:28] yymao commented on #47
@fjaviersanchez @katrinheitmann I think we can (and should try to) use DESCQA for catalog-level validation tests. We can implement readers for both the instance catalogs and for the final DM catalogs.

[2018-01-15 06:47] fjaviersanchez commented on #47
@katrinheitmann I added several tables to the [overleaf document](https://www.overleaf.com/11393539dgxdcykvbqhm#/43020815/) (I hope I used the correct link)
@yymao I agree, we should try to use DESCQA at the catalog level whenever it's possible and I think that most tests that I wrote down in the tables are already implemented, so I guess that the main issue would be to generate a reader for these

[2018-01-15 14:04] EiffL commented on #32
Here is an update on the status of this issue.
 - Created an add_on to the protoDC2 gcr catalog providing random walk parameters for all protoDC2 galaxies (https://github.com/LSSTDESC/gcr-catalogs/pull/64)
  - Added support in the GCRCatSimInterface to read the random walk parameters and append that information to the ImSim instance catalogs (https://github.com/LSSTDESC/sims_GCRCatSimInterface/pul

[2018-01-15 15:51] evevkovacs commented on #47
The N(z) and dN/dmag tests already exist and the ellipticity distributions are in progress. We are also writing a test that will display an arbitrary quantity, so much of the infrastructure you need is in place and should be usable (or adaptable) once the reader is available.

[2018-01-15 18:41] drphilmarshall commented on #47
Thanks @fjaviersanchez ! I copied the `main.tex` file from overleaf and checked that this did not over-write anything in the current version, which is now back in GitHub - looks like we are OK! @katrinheitmann I think you can merge Javis commits in at https://github.com/LSSTDESC/DC2_Repo/pull/77  Then, we should make the overleaf document read-only, and shift to editing the DC2 plan by pull reques

[2018-01-15 21:32] katrinheitmann commented on #72
@drphilmarshall @rbiswas4 @humnaawan @egawiser: Below is a check list/message from Jim -- can you get this filled out/finalized and report on everything during the Friday telecon?
- [ ] WFD opsim db, i.e. minion_1016...new_dithers.db
- [ ] opsim db file with uDDF visits (this is another file right? the part has never been clear to me)
- [ ] the WFD field to simulate: This could either be opsim db

[2018-01-16 01:27] danielsf commented on #47
@fjaviersanchez The link you pointed to is still the format for InstanceCatalogs that are going to be used as PhoSim inputs.  Truth tables including more information will have to be in separate files, as I do not think that PhoSim will respond well to us adding columns to its InstanceCatalogs.

[2018-01-16 04:09] cwwalter opened #78 "Make the galaxy truth tables have a single entry per galaxy and add all wanted truth info."
Currently, we write the truth tables as we write the instance catalogs: one entry each for the disk and bulge components that exist.    For DC1 I wrote code afterwards that tried to combine them and also calculated the combined magnitude.  But really, the format should be extended so that in addition to this we store the individual sersic components and magnitudes etc.

Also, with @EiffL's work we

[2018-01-16 05:28] jchiang87 commented on #78
Scott mentioned this in a comment in the DC2 checklist google doc. Here is the relevant module:
https://github.com/lsst/sims_catalogs/blob/master/python/lsst/sims/catalogs/definitions/ParallelCatalogWriter.py

[2018-01-16 10:56] linan7788626 commented on #68
@dannygoldstein @yymao Thanks for the catalog and the example to extract SEDs. I was just back yesterday and am working on the project now. Cheers.

[2018-01-16 13:58] rbiswas4 commented on #72
@katrinheitmann WFD opsim db and uddf visits are usually part of the same file: The schema has a column whether a row is a WFD or DDF observation (in cases where they play both roles, we are treating it as WFD). But I think I would also like to keep these separate at  this development stage, life would simply be easier. We can put them together later.

I might have missed it, but is there a statem

[2018-01-16 14:34] drphilmarshall commented on #72
@rbiswas4 According to Jim above, we can define a sky region, and then just simulate the dithered sensors that fall in it. We can do this for Run 1.1 and Run 2, and for the DDF visits as well as the WFD. So, for Run 1.1 we just need to define two sky regions: I made a [concrete suggestion above](https://github.com/LSSTDESC/DC2_Repo/issues/72#issuecomment-357352548), two square fields. @humnaawan @

[2018-01-16 15:30] rbiswas4 commented on #72
@drphilmarshall in principle, we don't need to know how the WFD field geometry will look to define 1.1. Because as you say we could do it different. But again, as you said, it would think ahead if we can.

Relevant to the other comment meant for @humnaawan @egawiser @jchiang87 : I am rewriting the ditheredRA, ditheredDec in the WFD opsimdb (so this changes the depths) with dithers from @humnaawan

[2018-01-16 16:10] jchiang87 commented on #72
@rbiswas4 Here is the code where the dithering information from the opsim db file that had been modified to include dithering for DC1, i.e., `minion_1016_sqlite_new_dithers.db`.  As you can see, the columns being used are `randomDitherFieldPerVisitRA`, `randomDitherFieldPerVisitDec`, and `ditheredRotTelPos`.  We should use the same column names for DC2.  I think we have already stipulated that we

[2018-01-16 16:37] egawiser commented on #72
A few replies, working backwards:  @jchiang87 we can discuss on Friday, but @humnaawan and I were thinking it's safer to add new columns that contain the desired RA,Dec,Rot dithers and can be used for both WFD and uDDF visits; they could be named e.g., finalDitherRA, finalDitherDec, finalDitheredRotTelPos.  For WFD, we'd copy the existing info into those new columns.  For uDDF, we can generate sma

[2018-01-16 16:47] egawiser commented on #72
@humnaawan is working to define "rectangles" for uDDF, Run1.1, and Run 2.0.  All of these will be square in real degrees, stretching South and East from the CDF-S field center i.e., Twinkles field at RA: 03h 32m 30s Dec: -28d 06m 00s (with those coordinates placed at the center of a 68.0x68.0 arcminute square for the uDDF - could you please confirm that, @drphilmarshall?).  We looked at a minion10

[2018-01-16 17:57] yoachim commented on #76
Yes, the seeing and cloud distributions used by OpSim are here:
https://github.com/lsst-sims/sims_ocs/tree/master/python/lsst/sims/ocs/environment

We've requested a few times that this and things like the scheduled downtime be broken out into their own repo to make it easier for other folks to access and use.

[2018-01-16 19:19] rbiswas4 commented on #72
@jchiang87 @egawiser @humnaawan

I am happy to follow any column names for dithers that you can decide (Would it be ok to suggest `finalDitheredRA` or `randomDitheredFieldPerVisitPerRA` to make it clear that this is the dithered value, not the dither that should be added to the original to get the dithered value).

@jchiang87 @egawiser : So, I think we have everything that is necessary for WFD the

[2018-01-16 19:55] jchiang87 commented on #72
I don't think we can check off the WFD opsim db box.  There is a proposal on the table to add `finalDithered*` columns to the that file.  Once that file is modified, it needs to be renamed and is a **new** opsim db, even if most of the columns are unchanged.

Regrading the column names:  I'm ok with adding the `finalDithered*` columns and using those, but I would like us to establish a convention

[2018-01-16 22:47] drphilmarshall commented on #72
Looking at the suggestions above, how about:
[code]
i.e. close to @egawiser 's proposal but with @rbiswas4 's sensible past tense. I'm not a huge fan of "final" (it seems certain to  need to be replaced one day with "finalFinal") - so maybe "desc" is a better prefix, indicating that "DESC dithering" was applied.

I think restricting the DDF visit dithers to 0.5 chip widths sounds good.

[2018-01-17 00:43] TomGlanzman commented on #65
# Tuesday 16 Jan 2018 Update:
---
Updating workflow to reflect changes/fixes since the December run.

**Changes:**

1. gcr-catalogs updated from github (master), checkout pre-newYear version, build aux file:
`git clone https://github.com/LSSTDESC/gcr-catalogs.git`
`git checkout 204c504bd785fc9127a01c3c5f9a24640b3e7583`
`cd gcr-catalogs/GCRCatSimInterface/data`
`source /global/common/software/lsst/

[2018-01-17 02:16] egawiser commented on #72
Above comments from @rbiswas4 @jchiang87 and @drphilmarshall sound sensible to me.  For the uDDF dithering, you only really need to dither by the width of the chip gaps, yes?  You can ask for the maximum dither amplitude to be as small as you want, but note that the typical dither is smaller than that maximum by roughly a factor of 2, so the maximum should be at least twice the width of the chip g

[2018-01-17 02:41] rbiswas4 commented on #72
When the SN group was discussing dithers the two things that came up mostly from @saurabhwjha were the need to get a contiguous image (the chip gap), and an uncertainty in pointing (but the other one hopefully dominates).

So, if I am reading the numbers correctly:
1 pixel ~ 10 mu m ~ 0.2 arc sec.
1 chip-gap ~ 250 mu m, So, min dither (see statement from @egawiser): ~ 500 mu m = 50 pixels ~ 10 arc

[2018-01-17 18:32] TomGlanzman commented on #65
# Wednesday 17 Jan 2018 Update:
* Run 1.0b jobs are running, but slowly.  Individual sensor-visits are currently taking >240 min (clock time) in the RayTrace step (using 8 threads), so cannot be run in NERSC's "qos=interactive" service :cry: .  The average run time for this step (based on small statistics) is ~255 minutes (rotten luck!) but with tails extending to 350 min.  Therefore, these steps

[2018-01-17 18:43] katrinheitmann commented on #65
That is indeed unfortunate!

How about getting a reservation for this? I can send a quick email to
Debbie and Peter to ask how quickly that can be set up (I got one within
a week last year for a 6000 node reservation, so we should get something
smaller much quicker).

Questions for you if this is viable: for how long would you need the
reservation and for how many nodes? When would be a reasonable

[2018-01-17 18:47] cwwalter commented on #32
FYI the parsing code is here:

https://github.com/LSSTDESC/imSim/blob/master/python/desc/imsim/imSim.py

[2018-01-17 18:50] EiffL commented on #32
Yes, thanks, should have it working tonight.

On Jan 17, 2018 10:47 AM, "Chris Walter" <notifications@github.com> wrote:

[2018-01-17 19:45] jchiang87 commented on #69
Over at #65, Tom [comments](https://github.com/LSSTDESC/DC2_Repo/issues/65#issuecomment-358398794) that Run1.0b images are available. Here is a comparison of the Run1.0b image with the Run1.0a image for visit 151687 R:2,2 S:01:
![output_z4siqh](https://user-images.githubusercontent.com/1994473/35063268-74db266a-fb7b-11e7-83bb-87d1e1c7e229.gif)
The extension of the galaxies is apparent in the new i

[2018-01-17 19:50] cwwalter commented on #69
Is it speckly? It's a bit hard to tell on that scale but looks like it might be.

[2018-01-17 19:51] cwwalter commented on #69
It also look like the sky level might have changed (if the color scale is the same) is that expected?

[2018-01-17 19:55] jchiang87 commented on #69
I was wondering about the speckles too.  The file with the speckly object is `/global/projecta/projectdirs/lsst/production/DC2/DC2-phoSim-2-r/output/000000/lsst_e_151687_f2_R22_S01_E000.fits.gz`.  A cursory inspection seemed to indicate that the noise in the speckly parts was consistent with the sky noise, but someone should have a closer look.

I didn't try to use exactly the same stretch, so the

[2018-01-17 19:57] sethdigel commented on #69
I looked at some of the new images last night.  My non-quantitative impression was that they looked fine - not speckled and they clearly had extended galaxies.  The speckling in the former run was not subtle.

[2018-01-17 20:20] cwwalter commented on #42
Good news is that @mfisherlevine has now been allocated time to get the DM BF correction working.

https://jira.lsstcorp.org/browse/DM-5082

This should hopefully be ready by the Run1.1 timescale.

[2018-01-17 20:23] sethdigel commented on #69
Well, more quantitatively I'm afraid that it looks speckled.  Here is a comparison of profiles across the bright source (galaxy) in the same images.  In the new image, individual pixels in the wings of the galaxy have fluctuations of ~200 ADU on top of a background level of ~1000.

<img width="916" alt="profile_lsst_e_151687_f2_r22_s01_e000" src="https://user-images.githubusercontent.com/6035835/3

[2018-01-17 20:36] mfisherlevine commented on #42
Slightly pedantic point: "DM BF correction" is believe to already be working, and won't actually be touched by this work. What I'm going to be working on is porting the code which measures the correlation coefficients from the set of flats so that the BF corrections can be turned on for any cameras/obs_packages as long as one has flats.

[2018-01-17 20:39] cwwalter commented on #42
Right!  Thanks for clarifying.  One other clarification: the porting is happening from code being used in HSC.

[2018-01-17 20:39] mfisherlevine commented on #42
PS I know you know that Chris, just wanted to point out the difference in case others were confused.

[2018-01-17 20:42] rbiswas4 commented on #59
@salmanhabib
@danielsf brought up this point about storage of transient seds and looking at this issue we realized that I had missed your question ... taking this to a separate issue to get storage estimates.